Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

feat: test 계정 연결[S13P31A209-163-fe- 계정-인증-api-연결]
  Frontend/src/features/auth/api.ts
  Frontend/src/features/auth/store.ts
  Frontend/src/features/auth/types.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/shared/lib/http.ts
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/tsconfig.app.json
  Frontend/vite.config.ts
Due: none

feat: charlotte-inactive.json 추가, package.json 에 axios 포함
  Frontend/charlotte-inactive.json
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: none

refactor: charlotte-inactive.json 삭제, InactivateSeat.json 에 통합
  Frontend/InactivateSeat.json
  Frontend/charlotte-inactive.json
Due: none

refactor: auth store에서 console log 메시지 수정
  Frontend/src/features/auth/store.ts
Due: none

feat: 이선좌 컴포넌트 추가
  Frontend/src/components/SeatTakenAlert.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: none

chore: Minio 공연장 데이터 JSON 형식 변경 및 Kafka Consumer shutdown 추가 [S13P31A209-145]
  Backend/bot-server/api/server.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/models/hall.go
Due: none

refactor: 테스트 계정 생성 관련 오류 처리 및 버튼 텍스트 변경
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

[BE] Bot-server 2차 MR : 기본 기능 구현 완료
  Backend/bot-server/api/handler.go
  Backend/bot-server/api/server.go
  Backend/bot-server/api/system_handler.go
  Backend/bot-server/bot/bot.go
  Backend/bot-server/bot/distribution.go
  Backend/bot-server/bot/executor.go
  Backend/bot-server/bot/handler.go
  Backend/bot-server/bot/level.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/bot/service.go
  Backend/bot-server/client/error.go
  Backend/bot-server/client/http_client.go
  Backend/bot-server/client/minio_client.go
  Backend/bot-server/client/request.go
  Backend/bot-server/client/response.go
  Backend/bot-server/config/config.go
  Backend/bot-server/go.mod
  Backend/bot-server/go.sum
  Backend/bot-server/kafka/consumer.go
  Backend/bot-server/logger/logger.go
  Backend/bot-server/manager/match_manager.go
  Backend/bot-server/manager/resource_manager.go
  Backend/bot-server/match/context.go
  Backend/bot-server/match/handler.go
  Backend/bot-server/match/service.go
  Backend/bot-server/match/status.go
  Backend/bot-server/models/difficulty.go
  Backend/bot-server/models/hall.go
  Backend/bot-server/models/request.go
  Backend/bot-server/models/response.go
  Backend/bot-server/scheduler/schedular.go
  Backend/bot-server/utils/httputil/response.go
Due: none

refactor: 코드 정리 및 API 경로 설정 개선
  Frontend/src/features/auth/api.ts
  Frontend/src/features/site/api.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

fix: 경기장 정보 분리[S13P31A209-163-fe- 계정-인증-api-연결]
  Frontend/CharlotteTheater.json
  Frontend/InspireArena.json
  Frontend/OlympicHall.json
Due: none

fix: 유저 정보 헤더에 표시[S13P31A209-163-fe- 계정-인증-api-연결]
  Frontend/src/shared/ui/common/Header.tsx
Due: none

fix: 마이페이지 일시적으로 주석처리로 막아둠[S13P31A209-163-fe- 계정-인증-api-연결]
  Frontend/InactivateSeat.json
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/shared/ui/common/Under_construction.tsx
Due: none

chore: API 패스 수정
  Frontend/.gitignore
  Frontend/src/features/auth/api.ts
  Frontend/src/features/site/api.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/shared/lib/http.ts
Due: none

feat: 환경설정 파일 추가.(ingnore 제외)
  Backend/ticketing-server/.gitignore
  Backend/ticketing-server/Dockerfile
  Backend/ticketing-server/src/main/resources/application.yml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 매치 진행 중 유저가 나가는 것 알림 요청 로직 구현 [S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/NotifyRoomLeftRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

feat: 등수 계산 로직 추가 및 사용자 통계 데이터 저장 [S13P31A209-162]
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatInfo.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatReservationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/repository/UserStatsRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: 린트 오류 수정
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/GameResult.tsx
  Frontend/src/pages/user-page/MyPage.tsx
Due: none

feat:log-finished
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/EnqueuedDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueUserInfoDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchRepository.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat:log-finished
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/CaptchaDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/service/CaptchaService.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/EnqueuedDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueLogDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueUserInfoDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/QueueKeys.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueLogProducerKafka.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/resources/static/docker-compose-captcha.yaml
  Backend/ticketing-server/src/main/resources/static/docker-compose.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat:log-finished
  docker-compose.yaml
Due: none

feat: SeatConfirmationService 수정[S13P31A209-162]
  Backend/ticketing-server/.gitignore
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/resources/application.yml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 각 좌석에 grade 포함하도록 로직 수정 [S13P31A209-162]
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatStatusDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatStatusResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatStatusService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: SeatConfirmationController 수정 [S13P31A209-162]
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatConfirmationController.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 구글 OAuth API 연결
  Frontend/public/oauth-callback.html
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/OrderConFirm.tsx
Due: none
