Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

fix: 엔트포인트 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
Due: build:ticketing-server

ai 생성 표시
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

feat:stats-server ranking feature in process && ticketing consume rate changed
  Backend/stats-server/src/main/java/com/stats/config/RedisKeyEventConfig.java
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/MatchStatsAggregationDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/java/com/stats/entity/Ranking.java
  Backend/stats-server/src/main/java/com/stats/listener/RedisKeyEventListener.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsBatchService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/stats-server/src/main/java/com/stats/util/StatsCalculator.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

feat: 실패유저 통계 저장
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/FailedStatsController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/FailedStatsRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/FailedStatsResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/FailedStatsService.java
Due: build:ticketing-server

feat: 경기 종료시 통계서버에 알림 추가, 만석 시 경기 종료
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/StatsServerClient.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: 통계서버 환경변수 추가
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

실패한 유저에 대한 api
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

feat: 야물파일 수정
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

결과 창 및 경기 분석 로딩 애니메이션 추가
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/GameAnalysisLoader.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/AnalysisLoader.tsx
Due: build:frontend

fix: 만석 시점 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatCancelService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

실패 결과창에서 자동 로그아웃 방지
  Frontend/src/app/layouts/MainLayout.tsx
Due: build:frontend

fix: 샤롯데시어터 JSON 수정(34행에서 33행), 좌석수 1231석으로 수정
  Frontend/cypress.config.ts
  Frontend/cypress/support/e2e.ts
  Frontend/halls-json/CharlotteTheater.json
  Frontend/halls-json/charlotte_index.py
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

fix: 예매 실패 유저 user_stats에 저장
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

console 추가
  Frontend/src/features/booking-site/api.ts
Due: build:frontend

refactor: 분석관 최소 세션 수 지정 및 json 데이터 수정
  AI/AI_analyst/.gitignore
  AI/AI_analyst/analysis_main.py
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

refactor: 분석관 최소 세션 수 지정 및 배치도 json 정리
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

fix: 전체 로직 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatCancelService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/UserLeftRoomService.java
Due: build:ticketing-server

fix: 루아스크립트 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
Due: build:ticketing-server

자동 로그아웃 방지 및 실패 처리 추가
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/features/booking-site/api.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/shared/hooks/useSeatStatsFailedOnUnload.ts
Due: build:frontend

빌드 오류 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
Due: build:frontend

실패 api 경로 수정
  Frontend/src/features/booking-site/api.ts
Due: build:frontend
