Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

[BE] Bot-server: 좌석선점 로직 리팩토링 및 파라미터 변경
  Backend/bot-server/bot/level.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/match/simulation.go
  Backend/bot-server/models/ticket.go
Due: build:bot-server

fix: 방 생성시 hallName 추가, 봇 수 10000, 20000 추가, 프리셋 공연장 hallType 오류 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
Due: build:frontend, build:room-server

회웝가입 로직 수정
  Frontend/src/pages/auth/sign-up/SignUp.tsx
Due: build:frontend

회원가입 리다이렉트 처리
  Frontend/src/features/auth/store.ts
  Frontend/src/features/auth/types.ts
  Frontend/src/pages/auth/sign-up/SignUp.tsx
  Frontend/src/shared/ui/common/Header.tsx
Due: build:frontend

refactor: 봇 좌석 분배 로직 단순화
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/client/minio_client.go
Due: build:bot-server

feat: 구글 로그인 콜백 확인
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend

fix: OAuth 인증 결과를 메인 창으로 전달하고 팝업창 닫기 수정
  Frontend/src/pages/auth/sign-up/SignUp.tsx
Due: build:frontend

feat: 실제 유저 계산 로직 수정(hold시점으로 변경), humanusers 감소로직 추가, 경기 종료 조건: humanusers == 0이면 FINISHED로 수정
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: 로그인 성공 라우트 추가, 홈 화면 이동
  Frontend/src/app/routes/index.tsx
  Frontend/src/pages/auth/login/LoginSuccess.tsx
Due: build:frontend

프로필 이미지 업로드
  Frontend/src/pages/auth/sign-up/SignUp.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
  Frontend/src/pages/user-page/_components/ProfileInfoModal.tsx
  Frontend/src/shared/utils/imageCompression.ts
Due: build:frontend

feat:stats-server in process
  Backend/stats-server/.gitignore
  Backend/stats-server/build.gradle
  Backend/stats-server/gradle/wrapper/gradle-wrapper.jar
  Backend/stats-server/gradle/wrapper/gradle-wrapper.properties
  Backend/stats-server/gradlew
  Backend/stats-server/gradlew.bat
  Backend/stats-server/settings.gradle
  Backend/stats-server/src/main/java/com/stats/StatsServerApplication.java
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/response/ClickStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MyPageDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/QueueSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/SeatSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/SecCodeDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/SpecificStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/UserDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/BaseTimeEntity.java
  Backend/stats-server/src/main/java/com/stats/entity/Match.java
  Backend/stats-server/src/main/java/com/stats/entity/Room.java
  Backend/stats-server/src/main/java/com/stats/entity/User.java
  Backend/stats-server/src/main/java/com/stats/entity/UserStats.java
  Backend/stats-server/src/main/java/com/stats/repository/UserRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/CaptchaLogDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/service/CaptchaService.java
  Backend/ticketing-server/src/main/java/com/ticketing/config/KafkaConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/config/KafkaErrorConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueLogDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/Kafka/KafkaLogDLT.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/Kafka/KakfaLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/Kafka/QueueLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat:user-stats individual stats finished, match stats in process
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchInfoStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/PresetHall.java
Due: none

feat: stats-server individual stats finished, match stats in process
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchInfoStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MyPageDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/SpecificStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/PresetHall.java
  Backend/stats-server/src/main/java/com/stats/entity/Room.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/CaptchaDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server

feat: profileImageUrl 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomMember.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/JoinRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/types/stompjs.d.ts
Due: build:frontend, build:room-server

feat: Match에 totalSeats 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:room-server, build:ticketing-server

feat: 생년월일 수정 가능로 변경
  Backend/user-server/src/main/java/com/tickget/userserver/dto/UserProfileUpdateRequest.java
  Backend/user-server/src/main/java/com/tickget/userserver/server/UserProfileService.java
Due: none

생년월일 수정
  Frontend/src/pages/auth/sign-up/SignUp.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
Due: build:frontend

유저 정보 경기 내 적용
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
Due: build:frontend

샤롯데 섹션 1로 변경
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

Update BookingWaitingPage to 00-Queue and remove deprecated Waiting component; replace temp captcha image.
  Frontend/public/tempcaptcha.jpg
  Frontend/src/app/routes/index.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Loading.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

Refactor API headers in enqueueTicketingQueue to use X-User-Id; update BookingWaitingPage to join room on mount and improve queue handling logic.
  Frontend/src/features/booking-site/api.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend
