Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

build:test-server:test-dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

fix: docker daemon의 준비 시간 대기 로직 추가
  .gitlab-ci.yml
Due: none

refactor: 이벤트/큐 관련 DTO 모두 시간 Long으로 변경[S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomInfoUpdate.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchSettingChangedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomSettingUpdatedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/SessionCloseEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomSettingUpdatedMessage.java
Due: build:room-server:dev, build:room-server:master

fix: ci/cd 테스트용 주석 수정
  Backend/test-server/src/main/java/com/example/testserver/controller/TestController.java
Due: build:test-server:test-dev

refactor: 변경된 EventMessage에 맞춰 Consumer도 변경[S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomSettingUpdatedMessage.java
Due: build:room-server:dev, build:room-server:master

chore: 미사용 import 문 삭제 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomInfoUpdate.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchSettingChangedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomSettingUpdatedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
Due: build:room-server:dev, build:room-server:master

fix: Disable TLS for Docker-in-Docker in GitLab Runner
  .gitlab-ci.yml
Due: none

feat: 경기 시작/종료 이벤트 구현[S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchStartedEvent.java
Due: build:room-server:dev, build:room-server:master

feat: 얇은 Conumser층을 위해 로직을 Service로 이전 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/event/HostChangedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 이벤트 핸들링용 RoomEventHandler 서비스 구현 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

refactor: 뷰포트 크기, 좌석 선택 화면 레이아웃 수정
  Frontend/src/pages/booking/_components/Viewport.tsx
  Frontend/src/pages/booking/_components/venues/SmallVenue.tsx
  Frontend/src/pages/booking/select-seat/index.tsx
  Frontend/src/pages/booking/select-venue/index.tsx
Due: none

feat: 대형 공연장 인스파이어 아레나 작업 중[S13P31A209-133-fe-커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
Due: none

fix: 대기 화면 뷰포트 크기 910x700으로 조정
  Frontend/src/pages/booking/_components/Viewport.tsx
  Frontend/src/pages/booking/waiting/index.tsx
Due: none

feat: 인스파이어 아레나 좌석 생성 중[S13P31A209-133-fe- 커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
Due: none

push error
  Frontend/src/pages/mypage/mockData.ts
Due: none

feat: 인스파이어 아레나 s석 vip석 생성[S13P31A209-133-fe-커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
  Frontend/src/shared/ui/common/GridPattern.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_45.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_46.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_47.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_49.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_50.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_52.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_55.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_56.tsx
  Frontend/src/shared/ui/common/Inspire/S/Inspire_57.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_11.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_12.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_15.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_16.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_23.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_5.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_6.tsx
  Frontend/src/shared/ui/common/Inspire/VIP/Inspire_7.tsx
  Frontend/src/shared/ui/common/UserStats.tsx
Due: none

feat: 인스파이어 아레나 r석 생성[S13P31A209-133-fe-커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_25.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_26.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_27.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_31.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_39.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_42.tsx
  Frontend/src/shared/ui/common/Inspire/R/Inspire_43.tsx
Due: none

feat: 인스파이어 아레나 스탠딩 생성[S13P31A209-133-fe-커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
  Frontend/src/shared/ui/common/Inspire/STANDING/Inspire_1.tsx
Due: none

feat:redis-queueRankWorking
  Backend/ticketing-server/build.gradle
  Backend/ticketing-server/src/main/java/com/ticketing/KafkaTopic.java
  Backend/ticketing-server/src/main/java/com/ticketing/config/KafkaConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/config/SchedulingConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/QueueKeys.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueCheckService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumerKafka.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueuePosition.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueuePositionWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueProducerKafka.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueWriter.java
  docker-compose.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: 방 생성 모달에서 프리셋/AI 버튼에 따라 사진 다르게 표시
  Frontend/src/pages/rooms/_components/LeftPane.tsx
  Frontend/src/pages/rooms/_components/Step1BasicForm.tsx
Due: none

feat: 각 좌석에 행 열 포함[S13P31A209-133-fe-커스텀-공연장-대형-생성]
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
Due: none

feat: 소형 공연장 좌석배치도 초안, 배경(샤롯데시어터), 좌석 선택 페이지의 좌석배치 구역 레이아웃 border, gap 수정
  Frontend/public/performance-halls/charlotte-theater-background.jpg
  Frontend/src/pages/booking/_components/venues/SmallVenue.tsx
  Frontend/src/pages/booking/select-seat/index.tsx
Due: none

feat: 유저 엔티티 수정
  Backend/main-server/src/main/java/com/tickget/mainserver/user/entity/User.java
Due: none

feat: jwt 관련 의존성 추가
  Backend/main-server/build.gradle
Due: none

feat: Spring Security 기본 설정 추가 [S13P31A209-126]
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/config/SecurityConfig.java
Due: none

feat: OAuth2 로그인 사용자 정보 및 성공 핸들러 구현 [S13P31A209-126]
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/oauth/CustomOAuth2User.java
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/oauth/CustomOAuth2UserService.java
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/oauth/OAuth2LoginSuccessHandler.java
Due: none

feat: JWT 토큰 생성 및 인증 필터 구현 [S13P31A209-126]
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/jwt/JwtAuthenticationFilter.java
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/jwt/JwtTokenProvider.java
Due: none

feat: 로그인/토큰 발급 API 컨트롤러 추가 [S13P31A209-126]
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/controller/AuthController.java
Due: none

feat: UserRepository 추가 [S13P31A209-126]
  Backend/main-server/src/main/java/com/tickget/mainserver/user/repository/UserRepository.java
Due: none

feat: 좌석 정보 상태 조회 API 구현
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatStatusController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatStatusService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 방 정보 업데이트 시 필요한 DTO 및 이벤트 생성 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomInfoUpdate.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchSettingChangedEvent.java
Due: build:room-server:dev, build:room-server:master

feat: 매치 설정 변경시 레디스 정보 변경 로직 구현 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
Due: build:room-server:dev, build:room-server:master

feat: 변경된 방 세팅 전파 로직 구현 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
Due: build:room-server:dev, build:room-server:master

feat: 설정 업데이트 관련 이벤트와 메시지 구현 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomSettingUpdatedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomSettingUpdatedMessage.java
Due: build:room-server:dev, build:room-server:master

refactor: 로그 영어였던 것 한국어로 변경 및 try-catch문 도입 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomSettingUpdatedMessage.java
Due: build:room-server:dev, build:room-server:master

fix: 잘못된 카프카템플릿 올바른 템플릿으로 변경 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
Due: build:room-server:dev, build:room-server:master

refactor: RoomEventMessage를 단일 메시지 클래스로 변경 및 내부 페이로드 생성 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/HostChangedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/RoomSettingUpdatedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserJoinedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserLeftPayload.java
Due: build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*
