Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

feat:fixes in Matches DDL(total_seat), DB error fixed
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat:fixes in Matches DDL(total_seat), DB error fixed
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
Due: none

feat: 좌석 선택 페이지로 직접 이동하는 기능 추가 및 예약 정보 처리 개선
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
  Frontend/src/shared/components/TsxPreview.tsx
  Frontend/src/shared/styles/tailwind.css
Due: build:frontend

fix: 예약 시간 및 대기열 관련 로직 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

feat: 대기열 상태 및 API 응답 처리 개선
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

feat: API 응답 로깅 및 대기열 상태 처리 개선
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

debounce 속도 수정
  Frontend/src/features/search/components/ConcertHallSearch.tsx
Due: build:frontend

글꼴 파일 경로 수정
  Frontend/public/assets/fonts/SUITE-Variable.woff2
  Frontend/src/assets/fonts/SUITE-Variable.css
Due: build:frontend

경기장 내 배너 전광판 효과
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

feat: 매치상태 레디스 키 ttl 추가
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/UserLeftRoomService.java
Due: build:ticketing-server

봇 개수 표시 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

feat: 잠시 웹소켓이 끊기고 재연결을 할때, 방에서 나가지지 않도록 로직 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/DisconnectInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server

마이페이지 화면 배너 webp로 변환
  Frontend/public/mypage_banner.png
  Frontend/public/mypage_banner.webp
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

기본 프로필 이미지 지정
  Frontend/public/profile.png
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
  Frontend/src/shared/ui/common/Header.tsx
Due: build:frontend

feat: 경기 기록 조회 API 및 데이터 처리 로직 추가
  Frontend/src/features/user-page/api.ts
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/MatchHistoryCard.tsx
  Frontend/src/pages/user-page/mockData.ts
Due: build:frontend

fix: update queue ranking and total queue calculation logic
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

chore: 안쓰는 함수 삭제
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

프로필 이미지 변경시 헤더 즉각 반영
  Frontend/src/features/auth/store.ts
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/utils/profileImageUrl.ts
Due: build:frontend

결과창 뜨게 수정
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/app/routes/index.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/07-Complete.tsx
Due: build:frontend

hotfix: 최신 빌드 배포
  Frontend/.tsbuildinfo
  Frontend/cypress.config.js
  Frontend/cypress/e2e/booking-flow.cy.js
  Frontend/cypress/support/commands.js
  Frontend/cypress/support/e2e.js
  Frontend/package.json
  Frontend/src/app/routes/index.tsx
  Frontend/tsconfig.paths.tsbuildinfo
Due: build:frontend

feat:stats-server = DB Batch service in process, stats update finished(tsx_url, hallsize)
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/MatchStatsAggregationDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDifferenceAddedDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/java/com/stats/repository/MatchStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsBatchService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server
