Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

feat:stats-server = DB Batch service in process, stats update finished(tsx_url, hallsize)
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/MatchStatsAggregationDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDifferenceAddedDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/java/com/stats/repository/MatchStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsBatchService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

refactor: AI 분석관 + 봇 파라미터 생성기 완성
  AI/AI_analyst/.gitignore
  AI/AI_analyst/LLM_main.py
  AI/AI_analyst/analysis_main.py
  AI/AI_analyst/bot_params_core.py
  AI/AI_analyst/calculate_chart_data.py
  AI/AI_analyst/data_loader.py
  AI/AI_analyst/mcp.py
  AI/AI_analyst/requirements.txt
Due: none

결과창 섹션 렌더링
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/MatchHistoryCard.tsx
  Frontend/src/pages/user-page/mockData.ts
  Frontend/src/shared/components/TsxPreview.tsx
Due: build:frontend

feat: 분석가 서버 배포 (analyst-server)
  .gitlab-ci.yml
  AI/AI_analyst/Dockerfile
  AI/AI_analyst/analysis_main.py
Due: none

로그아웃 후 로그인 버튼 두번 눌러야 하는 거 수정
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/shared/ui/common/Header.tsx
Due: build:frontend

테스트 계정 생성 주석
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend

대기열 게이지바 계산 로직 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

경기 기록에서 렌더링 크기 맞춤
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

페이지 버튼 추가 및 렌더링 크기 맞춤
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

경기 기록 페이지 이동 로직 작성
  Frontend/src/features/user-page/api.ts
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
Due: build:frontend

콘솔 로그 정리
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/features/auth/api.ts
  Frontend/src/features/auth/store.ts
  Frontend/src/features/room/store.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
  Frontend/src/shared/components/TsxPreview.tsx
  Frontend/src/shared/lib/websocket.ts
Due: build:frontend

오류
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

시간 선택 오류 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
Due: build:frontend

fix: 유저에게 강제 끊김 메시지 보내는 경로 오류 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/config/WebSocketConfig.java
Due: build:room-server

feat: AI 경기 분석 리포트 조회 기능 추가
  Frontend/cypress.config.ts
  Frontend/cypress/support/e2e.ts
  Frontend/src/features/user-page/api.ts
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

feat:fixed NPE in stats
  Backend/stats-server/src/main/java/com/stats/config/RedisKeyEventConfig.java
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/MatchStatsAggregationDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/java/com/stats/entity/UserStats.java
  Backend/stats-server/src/main/java/com/stats/repository/MatchStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsBatchService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/stats-server/src/main/java/com/stats/util/FloatExtractor.java
  Backend/stats-server/src/main/java/com/stats/util/IntExtractor.java
  Backend/stats-server/src/main/java/com/stats/util/RoundBy.java
  Backend/stats-server/src/main/java/com/stats/util/StatsCalculator.java
  Backend/stats-server/src/main/java/com/stats/util/UserStatsFloatExtractors.java
  Backend/stats-server/src/main/java/com/stats/util/UserStatsIntegerExtractors.java
Due: none

시작 시간이 null인 방 안보이게 수정
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: build:frontend

경기 종료 시 로그아웃 당하는 문제
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
Due: build:frontend

chore: logs added to check match specifics
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
Due: none

feat: 게임결과 AI 분석 추가
  Frontend/src/app/routes/index.tsx
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

fix: 레디스 TTL 설정 빼먹은 곳 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
Due: build:room-server
