Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

fix: Event 객체에 생성자 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/event/HostChangedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingStartedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomSettingUpdatedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/SessionCloseEvent.java
Due: build:room-server:dev, build:room-server:master

경기 종료 api
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: none

refactor: 샤롯데시어터 div에 section, row, col, grade, active 값 추가
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: none

fix:header fix
  Backend/ticketing-server/src/main/java/com/ticketing/KafkaTopic.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/EnqueuedDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchStartDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchScheduler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchCacheRepository.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

좌석 선점된 거 블럭 처리
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: none

fix: RoomNotificationScheduler을 Redis 기반으로 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
Due: build:room-server:dev, build:room-server:master

feat: 매치 종료 시 룸 서버에 알리는 HTTP 요청 구현
  Backend/ticketing-server/src/main/java/com/ticketing/config/RestTemplateConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: 구글 로그인 주석처리
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

fix: mongodb config 수정
  AI/seatmap_to_html/Dockerfile
  Backend/ticketing-server/src/main/java/com/ticketing/config/MongoConfig.java
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: Mongodb 커넥션 환경변수 주입으로 변경
  Backend/ticketing-server/src/main/java/com/ticketing/config/MongoConfig.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: redis에서 큐 관련 정보 얻어는 로직 Hash로 변경하여 오류 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/QueueStatus.java
Due: build:room-server:dev, build:room-server:master

fix: matchId 모두 Long으로 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserDequeuedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserDequeuedPayload.java
Due: build:room-server:dev, build:room-server:master

feat:match start event fixed
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchInsertedEventDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchScheduler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStartScheduler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

refactor: 올림픽홀 경기장에서 'seatid', 'data-seat-id' 둘 다 받도록 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
Due: none

이선좌
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: none

fix: matchId로 모두 통일
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/MatchResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

fix: gitlab ci 테스트
  .gitlab-ci.yml
  Backend/ticketing-server/src/main/java/com/ticketing/TicketingServerApplication.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: AI 공연장 TSX 반환 API, 좌석 취소 API 연결
  Frontend/src/features/ai/store.ts
  Frontend/src/features/performance-hall/api.ts
  Frontend/src/features/performance-hall/types.ts
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
Due: none

refactor: 공연장 API Types 정의
  Frontend/src/features/performance-hall/types.ts
Due: none

fix: docker image sha 태그로 최신화 적용
  .gitlab-ci.yml
Due: none
