Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

fix: 봇 0명 선택 가능
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

fix: 디큐 이벤트 kafka 헤더 인포 설정 off
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
Due: build:room-server

init: first commit
  Backend/user-server/.gitattributes
  Backend/user-server/.gitignore
  Backend/user-server/build.gradle
  Backend/user-server/gradle/wrapper/gradle-wrapper.jar
  Backend/user-server/gradle/wrapper/gradle-wrapper.properties
  Backend/user-server/gradlew
  Backend/user-server/gradlew.bat
  Backend/user-server/settings.gradle
  Backend/user-server/src/main/java/com/tickget/userserver/UserServerApplication.java
  Backend/user-server/src/main/resources/application.yml
  Backend/user-server/src/test/java/com/tickget/userserver/UserServerApplicationTests.java
Due: none

fix: kafkaConfig에 bean 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
Due: build:room-server

feat: OAuth 사용자 정보에서 'name'을 'nickname'으로 변경 및 타이머 HUD 컴포넌트 수정
  Frontend/src/pages/auth/sign-up/SignUp.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/_components/TimerHUD.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

방 목록 진행중 표시, 정렬 로직 수정, 새로고침 버튼 추가
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/home/_components/RoomSortButton.tsx
Due: build:frontend

refactor: 대기열 이동 로직 개선 및 자동 탐색 상태 관리 최적화
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

refactor: 대기열 상태 관리 로직 개선 (DEQUEUE 응답 확인)
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

refactor: ValidateCaptcha에서 userId를 헤더로 전송하도록 변경
  Backend/bot-server/client/http_client.go
Due: build:bot-server

측정 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

fix:changes in consume rate
  Backend/ticketing-server/build.gradle
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/config/SwaggerConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/Kafka/KakfaLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/Kafka/QueueLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server

시간 측정 오류 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

불필요한 패키지 제거
  Frontend/package-lock.json
  Frontend/package.json
Due: build:frontend

패키지 제거
  Frontend/package-lock.json
  Frontend/package.json
Due: build:frontend

feat: application.yaml에 DB_PASSWORD 제거
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

fix: 좌석 선택 요청을 Spring DTO 형식에 맞게 수정
  Backend/bot-server/bot/bot.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/client/request.go
Due: build:bot-server

feat: 봇일 경우 좌석 선점 요청 시 totalSeat 검증 제회
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

feat: 봇일 경우 좌석 선점 요청 시 totalSeat 검증 제외
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

fix: 좌석 선택 요청을 Spring DTO 형식에 맞게 수정
  Backend/bot-server/bot/bot.go
  Backend/bot-server/client/request.go
Due: build:bot-server

fix: 방생성 요청 시 ai 생성 여부값 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
Due: build:room-server

fix: 방 생성, 목록 조회 시에 hallType 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomResponse.java
Due: build:room-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
