Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

feat: 캡챠 보안문자 확인
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
Due: none

feat: CAPTCHA API 연결, 방 조회 API 연결
  Frontend/src/app/routes/index.tsx
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: none

feat: 방이 존재하지 않을 때 뜨는 문구 표시
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: none

fix: UnderConstruction component 반응형 글씨 크기 조절
  Frontend/src/shared/ui/common/Under_construction.tsx
Due: none

fix: bot-server minio 경로 수정
  Backend/bot-server/client/minio_client.go
Due: none

fix: Ticketing 서버 경로 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

fix: 봇 서버 및 룸 서버 연결 경로 재설성
  Backend/bot-server/client/minio_client.go
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

fix: /ws/rooms 소켓 요청 경로 허용
  Backend/auth-server/.idea/gradle.xml
  Backend/auth-server/Dockerfile
  Backend/auth-server/bin/main/com/tickget/authserver/config/SecurityConfig.class
  Backend/auth-server/src/main/java/com/tickget/authserver/config/SecurityConfig.java
Due: none

feat: 방 생성 API 연결, room-modal 에서 room으로 폴더명 변경
  Frontend/halls-json/CharlotteTheater.json
  Frontend/halls-json/InspireArena.json
  Frontend/halls-json/OlympicHall.json
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/game-room/exterpark-site/Exterpark.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomLeftPane.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/pages/room/create-room/CreateRoomThumbnailSelect.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingLeftPane.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingStep1.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingStep2.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingThumbnailSelectModal.tsx
  Frontend/src/pages/room/edit-room-setting/mockVenues.ts
  Frontend/src/pages/room/shared/Loader.tsx
Due: none

fix: 에러메시지 수정
  Frontend/src/features/room/api.ts
Due: none

feat: 방 생성 모달에서 프리셋, AI 버튼 활성화 분리
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: none

feat: 방 생성 api 연결
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: none

fix: (Long) info.get(host) → Long.parseLong(info.get(host).toString())
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
Due: build:room-server:dev, build:room-server:master

feat: 방 구독 및 처음 생성 시 방 정보 불러오기
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/routes/index.tsx
  Frontend/src/app/routes/paths.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/shared/lib/websocket-store.ts
Due: none

refactor: 코드 정리 및 가독성 향상
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: none

fix: RoomInfo에 startedAt이 있는데 redis에 저장 시 startTime 필드가 없다는 오류를 수정 - Redis에서 startTime 필드가 없을 수 있으므로 null 체크 추가 roomInfo.getStartTime()이 null일 수 있으므로 변환 전에 null 체크
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomResponse.java
Due: build:room-server:dev, build:room-server:master

fix: 방 조회 시 startTime 관련 NPE 및 Redis 동기화 문제 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomInfoUpdate.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomDetailResponse.java
Due: build:room-server:dev, build:room-server:master

fix: Match startedAt을 Redis와 동기화하여 방 조회 시 startTime 반환
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
Due: build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

feat: 방 상세 조회 API 추가, 참가자 목록 렌더링
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/game-room/exterpark-site/Exterpark.tsx
Due: none

feat: 방 입장 퇴장 연결(수정 필요)
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: none

fix: 누락 import문 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master
