Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

fix: double type fix
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

fix: 멱등성 보장: Redis 락으로 중복 실행 방지
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

feat: 마이페이지에 랭킹/퍼센타일 통계 API 추가 및 UI 구현
  Frontend/src/features/user-page/api.ts
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/pages/home/WeeklyRanking.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
  Frontend/src/pages/user-page/_components/UserStats.tsx
Due: build:frontend

관리자만 방 생성
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

fix: 다른 서버 알림 중복 락 걸기
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

userId Increase
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

fix:redis-key lock to block multiple requests
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
Due: none

봇 수, 사용자 수 변경
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingStep1.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingStep2.tsx
Due: build:frontend

feat: AI 공연장 좌석등급
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Side_Grades.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
Due: build:frontend

feat:stats-server bug finished ranking miscalculation
  Backend/stats-server/src/main/java/com/stats/dto/response/RankingData/RankingDTO.java
  Backend/stats-server/src/main/java/com/stats/repository/RankingRepository.java
Due: none

좌석 정보 전달
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/BookingLayout.tsx
Due: build:frontend

fix: 결제중 메시지 변경
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
Due: build:frontend

배너 이벤트로 이동
  Frontend/src/pages/home/Home.tsx
Due: build:frontend

알림 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/design/DesignTestPage.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

콘솔 로그 정리
  Frontend/public/seatmap-medium.html
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/features/auth/store.ts
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/store.ts
  Frontend/src/features/room/api.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-QueueNew.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/user-page/_components/TsxPreview.tsx
  Frontend/src/shared/hooks/useBlockBackButtonDuringGame.ts
  Frontend/src/shared/hooks/useSeatStatsFailedOnUnload.ts
  Frontend/src/shared/lib/websocket.ts
Due: build:frontend

feat: AI 토스트 메시지에 matchId 페이로드 추가
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

feat: 경기 기록에서 다음 페이지 없을 경우 '다음' 버튼 비활성화
  Frontend/src/features/user-page/api.ts
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

fix: 주간 랭킹 오류 메시지 수정 및 참가자 수 유효성 검사 개선
  Frontend/src/pages/home/WeeklyRanking.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
Due: build:frontend

refactor: 게임 결과 페이지 UI 개선 및 방 나가기 버튼 추가
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

경기 결과 확인 후 matchId 초기화
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

관리자 버튼 옮김
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend
