Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

fix: 방 생성, 목록 조회 시에 hallType 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomResponse.java
Due: build:room-server

fix: Room 엔티티 생성시 isAIGenerated 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
Due: build:room-server

fix: 폰트 파일 빌드 오류로 이동
  Frontend/src/assets/fonts/SUITE-Variable.css
  Frontend/src/assets/fonts/SUITE-Variable.woff2
  Frontend/src/shared/styles/tailwind.css
Due: build:frontend

feat: search 서버 구축(엘라스틱 서치용)
  Backend/search-server/Dockerfile
  Backend/search-server/README.md
  Backend/search-server/build.gradle
  Backend/search-server/settings.gradle
  Backend/search-server/src/main/java/com/tickget/searchserver/SearchServerApplication.java
  Backend/search-server/src/main/java/com/tickget/searchserver/config/ElasticsearchConfig.java
  Backend/search-server/src/main/java/com/tickget/searchserver/controller/SearchController.java
  Backend/search-server/src/main/java/com/tickget/searchserver/domain/ConcertHall.java
  Backend/search-server/src/main/java/com/tickget/searchserver/dto/ConcertHallDto.java
  Backend/search-server/src/main/java/com/tickget/searchserver/dto/SearchResponse.java
  Backend/search-server/src/main/java/com/tickget/searchserver/service/SearchService.java
  Backend/search-server/src/main/resources/application.yml
Due: none

fix: Add search-server to GitLab CI pipeline
  .gitlab-ci.yml
Due: none

fix: search-server 최초 배포
  Backend/search-server/src/main/java/com/tickget/searchserver/SearchServerApplication.java
Due: none

fix: gradle 추가 및 배포용 주석 추가
  Backend/search-server/.gradle/8.13/checksums/checksums.lock
  Backend/search-server/.gradle/8.13/checksums/md5-checksums.bin
  Backend/search-server/.gradle/8.13/checksums/sha1-checksums.bin
  Backend/search-server/.gradle/8.13/executionHistory/executionHistory.bin
  Backend/search-server/.gradle/8.13/executionHistory/executionHistory.lock
  Backend/search-server/.gradle/8.13/fileChanges/last-build.bin
  Backend/search-server/.gradle/8.13/fileHashes/fileHashes.bin
  Backend/search-server/.gradle/8.13/fileHashes/fileHashes.lock
  Backend/search-server/.gradle/8.13/gc.properties
  Backend/search-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Backend/search-server/.gradle/buildOutputCleanup/cache.properties
  Backend/search-server/.gradle/buildOutputCleanup/outputFiles.bin
  Backend/search-server/.gradle/file-system.probe
  Backend/search-server/.gradle/vcs-1/gc.properties
  Backend/search-server/.idea/.gitignore
  Backend/search-server/.idea/compiler.xml
  Backend/search-server/.idea/gradle.xml
  Backend/search-server/.idea/misc.xml
  Backend/search-server/.idea/vcs.xml
  Backend/search-server/gradle/wrapper/gradle-wrapper.jar
  Backend/search-server/gradle/wrapper/gradle-wrapper.properties
  Backend/search-server/gradlew
  Backend/search-server/gradlew.bat
  Backend/search-server/src/main/java/com/tickget/searchserver/SearchServerApplication.java
Due: none

fix: size effictly 문제 해결
  Backend/search-server/src/main/java/com/tickget/searchserver/service/SearchService.java
Due: none

fix: CORS 전체 허용
  Backend/search-server/src/main/java/com/tickget/searchserver/controller/SearchController.java
Due: none

fix: 직렬화 문제 수정
  Backend/search-server/src/main/java/com/tickget/searchserver/domain/ConcertHall.java
Due: none

feat: Room 정보에 tsxUrl 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/JoinRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomDetailResponse.java
Due: build:room-server

refactor: HallSize RDB에서 String으로 저장하도록 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
Due: build:room-server

my page 복원
  Frontend/src/features/booking-site/types.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

refactor: minio 저장경로 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/service/MinioService.java
Due: build:room-server

[BE] Room-server 관련 자잘한 요청사항 반영
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateRoomRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/JoinRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomDetailResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/MinioService.java
Due: build:room-server

refactor: 파일 업로드 제한 변경 및 오타 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/HostChangedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/QueueStatusMapPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/RoomSettingUpdatedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/UserDequeuedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/UserJoinedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/UserLeftPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/resources/application.yml
Due: build:room-server

feat: Thumbnailator 의존성 추가
  Backend/room-server/build.gradle
Due: build:room-server

feat: 이미지 업로드 로직 구현
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/ThumbnailController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/ThumbnailUploadResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/MinioService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/ThumbnailService.java
Due: build:room-server

feat: 이미지 업로드 관련 예외 처리 구현
  Backend/room-server/src/main/java/com/tickget/roomserver/exception/FileUploadException.java
  Backend/room-server/src/main/java/com/tickget/roomserver/exception/GlobalExceptionHandler.java
Due: build:room-server

feat: 기존 방생성 로직에서 이미지 업로드 로직 제거
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server

chore: unused import 문 제거
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server
