Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

feat:robot-request finished
  Backend/ticketing-server/src/main/java/com/ticketing/config/RestTemplateConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/BotRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/BotClientService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 인스파이어 아레나 좌석 등급 색상 정의
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Side_Grades.tsx
Due: none

좌석 및 가격 정보 전달
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
Due: none

chore:changed env files
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/BotClientService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

Refactor: 좌석 선택창 UI 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
Due: none

feat: 경기 종료 로직 보완
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatReservationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: JDBC 타임존 설정을 서울로 일치
  Backend/room-server/src/main/resources/application.yml
Due: build:room-server:dev, build:room-server:master

feat:sending to bot server finished
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/BotClientService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchScheduler.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 영역별 좌석 컴포넌트 행렬 데이터 및 minio 연결 / refactor: 영역 캐치 문제점 수정
  AI/seatmap_to_html/app/config.py
  AI/seatmap_to_html/app/storage/minio_client.py
  AI/seatmap_to_html/app/storage/object_store.py
  AI/seatmap_to_html/main_modular.py
  AI/seatmap_to_html/ocr_requirements.txt
  AI/seatmap_to_html/ocr_service.py
  AI/seatmap_to_html/s3_client.py
  AI/seatmap_to_html/utils_stage.py
  requirements.txt
Due: none

docs: edit requirements.txt
  AI/seatmap_to_html/requirements.txt
Due: none

feat: 시간 매칭을 위해 Go서버 LocalDateTime 구현
  Backend/bot-server/match/handler.go
  Backend/bot-server/match/service.go
  Backend/bot-server/models/local_datetime.go
  Backend/bot-server/models/request.go
Due: none

chore: AI foldr update
  AI/AI_analyst/mcp.py
Due: none

feat:changes in bot-client
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/BotRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/response/BotResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/BotClientService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: 방설정 주석 처리, 경기 결과 다시하기, 예매결과 주석처리
  Frontend/src/pages/booking-site/GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: none

초 개선
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Side_Banner.tsx
  Frontend/src/shared/utils/reserveMetrics.ts
Due: none

fix: 타입 설정 실수 해결
  Backend/bot-server/match/service.go
  Backend/bot-server/models/request.go
Due: none

fix: string인 hallId모두 int64로 변경
  Backend/bot-server/client/minio_client.go
Due: none

fix:Kafka Log fix, Enum Type fix
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchScheduler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 총 소요 시간 측정 기능 추가(스톱워치) 및 클릭 실수 추적 로직 개선(미완성)
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/shared/ui/dev/StopwatchHUD.tsx
  Frontend/src/shared/utils/reserveMetrics.ts
Due: none

섹션 좌석 조회 및 좌석 선점
  Frontend/src/features/booking-site/types.ts
  Frontend/src/features/room/store.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
Due: none
