Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

feat: 방 나가기 핸들러를 useCallback으로 최적화하고, 브라우저 뒤로가기 시 방 나가기 로직 추가
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: none

fix: 웹소켓 다른 유저 이름 가져오기
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: none

feat: RoomDetailResponse에 totalSeat 필드 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomDetailResponse.java
Due: build:room-server:dev, build:room-server:master

총좌석수 반영
  Frontend/src/features/booking-site/types.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: none

웹소켓 연결 끊기면 자동 로그아웃
  Frontend/src/app/layouts/MainLayout.tsx
Due: none

feat: 방 정렬 버튼, 유틸 컴포넌트로 분리
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomSortButton.tsx
  Frontend/src/pages/home/_components/RoomSortUtil.ts
Due: none

fix: EnableJpaAuditing 옵션 킴
  Backend/room-server/src/main/java/com/tickget/roomserver/RoomServerApplication.java
Due: build:room-server:dev, build:room-server:master

feat: "총 좌석수" 라벨 표시, 기본값 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/user-page/mockData.ts
Due: none

중형 대형 프리셋 반영해서 불러오기
  Frontend/src/features/booking-site/types.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
Due: none

feat:db-init-status finished
  Backend/room-server/build.gradle
  Backend/room-server/src/main/resources/application.yml
  Backend/ticketing-server/src/main/java/com/ticketing/KafkaTopic.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/CaptchaDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/SmallConcertHall.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/TotalArea.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchStartDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueLogDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/QueueUserInfoDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/response/ErrorResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/response/MatchIdResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/response/MatchResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/domain/enums/QueueKeys.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/domain/example.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/exception/DuplicateMatchFoundException.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/exception/GlobalExceptionHandler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/exception/MatchNotCreatedException.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchScheduler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumerNew.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueLogConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchCacheRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/SmallConcertHallRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/TotalAreaRepository.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

room store- 캡챠 및 방 정보 업데이트
  Frontend/src/features/room/store.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: none

feat: 좌석 선택 화면 UI 개선
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
Due: none

Edit MatchResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
Due: build:ticketing-server:dev, build:ticketing-server:master

툴팁 제거
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
Due: none

fix: CreateMatchRequest에 hallId 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
Due: build:room-server:dev, build:room-server:master

시간 오류 수정
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
Due: none

chore:fix package problems
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/response/MatchResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: add gitlab ci
  .gitlab-ci.yml
Due: none

feat: 좌석선택 공연장별 UI 개선 및 좌석 등급 분리
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Side_Banner.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Side_Grades.tsx
Due: none

인게임 디테일 수정
  Frontend/src/features/room/store.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: none
