Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

Refactor API headers in enqueueTicketingQueue to use X-User-Id; update BookingWaitingPage to join room on mount and improve queue handling logic.
  Frontend/src/features/booking-site/api.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

refactor: 변경된 것에 맞춰 MatchId와 UserId 타입 변경
  Backend/bot-server/client/response.go
Due: build:bot-server

feat: git ignore 추가
  Backend/search-server/.gitignore
  Backend/search-server/.gradle/8.13/checksums/checksums.lock
  Backend/search-server/.gradle/8.13/checksums/sha1-checksums.bin
Due: none

fix: 유저 프로필 저장 방식 변경 - 확장자 제거 -> 어차피 content-type에 기록됨 - 유저 프로필명 통일 users/{user_id}/profile 로 통일 -> user_id만 알면 프로필을 가져올 수 있음
  Backend/user-server/src/main/java/com/tickget/userserver/server/MinioService.java
Due: none

내부에서 작동되게 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

feat: user_rank, total_rank 등수계산 로직 수정, 봇데이터 저장 취소, 경기 중간 퇴장 유저 알림 구현 등
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/UserStatsRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/UserLeftRoomController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/RoomDetailResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/UserLeftRoomRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/UserLeftRoomResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/UserLeftRoomService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: GlobalSessionInfo에 Version 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/GlobalSessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/SessionCloseEvent.java
Due: build:room-server

fix: OAuth 회원가입 시 기본 이미지 설정 - 기본 이미지 템플릿 중 랜덤하게 골라지도록 설정 - minio에 user-server와 동일한 저장 로직 구성(profile 이미지 명으로 저장, 확장자 분리)
  Backend/auth-server/.gitignore
  Backend/auth-server/bin/main/application.yml
  Backend/auth-server/bin/main/com/tickget/authserver/oauth/CustomOAuth2UserService.class
  Backend/auth-server/bin/main/com/tickget/authserver/oauth/OAuth2LoginSuccessHandler.class
  Backend/auth-server/build.gradle
  Backend/auth-server/src/main/java/com/tickget/authserver/config/MinioConfig.java
  Backend/auth-server/src/main/java/com/tickget/authserver/oauth/CustomOAuth2UserService.java
  Backend/auth-server/src/main/java/com/tickget/authserver/oauth/OAuth2LoginSuccessHandler.java
  Backend/auth-server/src/main/java/com/tickget/authserver/service/ProfileImageService.java
  Backend/auth-server/src/main/resources/application.yml
  Backend/auth-server/src/main/resources/static/default-profiles/image1.jpg
  Backend/auth-server/src/main/resources/static/default-profiles/image2.jpg
  Backend/auth-server/src/main/resources/static/default-profiles/image3.jpg
  Backend/auth-server/src/main/resources/static/default-profiles/image4.jpg
Due: build:auth-server

hotfix: profile.imga (x) -> profile(o)
  Backend/auth-server/src/main/java/com/tickget/authserver/service/ProfileImageService.java
Due: build:auth-server

feat: version을 통한 세션 관리로 로직 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
Due: build:room-server

feat: 세션 끊김을 알려주는 Event 발행 로직 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/config/WebSocketConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/ForceDisconnectPayload.java
Due: build:room-server

[BE] Room-server : 소켓 통신 관련 오류 해결 및 알림 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/config/WebSocketConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/GlobalSessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/SessionCloseEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/ForceDisconnectPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
Due: build:room-server

fix: 테스트 유저 로직 수정 및 토큰 조정 - 테스트 유저 생성 시 기본 이미지 파일 지정
  Backend/auth-server/bin/main/application.yml
  Backend/auth-server/bin/main/com/tickget/authserver/service/TestUserService.class
  Backend/auth-server/src/main/java/com/tickget/authserver/service/TestUserService.java
  Backend/auth-server/src/main/resources/application.yml
Due: build:auth-server

유저 방 구독, 강제 종료 로직 추가
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/shared/lib/websocket.ts
Due: build:frontend

fix: CI stats 서버 추가 및 CI 용 주석 추가
  .gitlab-ci.yml
  Backend/stats-server/src/main/java/com/stats/StatsServerApplication.java
Due: none

fix: CI 주석 추가
  Backend/stats-server/src/main/java/com/stats/StatsServerApplication.java
Due: none

fix: Dockerfile 추가 및 CI용 주석 추가
  Backend/stats-server/Dockerfile
  Backend/stats-server/src/main/java/com/stats/StatsServerApplication.java
Due: none

refactor: 세션 관리 구조 개선 및 동시 접속 시 정리 문제 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/SessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/WebSocketSessionManager.java
Due: build:room-server

fix: stats-server request mapping prefix 제거
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
Due: none

feat: Redis Lua Script로 동시 접속 시 Race Condition 완전 방지
  Backend/room-server/src/main/java/com/tickget/roomserver/config/RedisLuaScriptConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/GlobalSessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/resources/application.yml
  Backend/room-server/src/main/resources/lua/register_global_session.lua
  Backend/room-server/src/main/resources/lua/remove_global_session_if_match.lua
Due: build:room-server

[BE]: Room-server : 웹소켓 동시성 문제 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/config/RedisLuaScriptConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/GlobalSessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/SessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/WebSocketSessionManager.java
  Backend/room-server/src/main/resources/application.yml
  Backend/room-server/src/main/resources/lua/register_global_session.lua
  Backend/room-server/src/main/resources/lua/remove_global_session_if_match.lua
Due: build:room-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
