Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

관리자 버튼 옮김
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend

fix: 소셜 로그인 버튼 위치 및 스타일 수정, 개인 통계 메시지 변경
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
Due: build:frontend

refactor: 개선된 좌석 ID 처리 로직 및 UI 업데이트
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

fix: 개인 기록 그래프에서 Y축 위아래 반대
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
Due: build:frontend

refactor: 무한 렌더링 오류 수정
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

feat: 사용자 목록 표시 개선 - 10명 이상일 경우 처음 10명만 표시하고 "..." 추가
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

관리자 계정 지켜git add .
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
Due: build:frontend

fix:Fixes in ranking when player fails && change in variable name
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

fix:Fixes in ranking when player fails && change in variable name
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

feat: migrate from GitLab CI to GitHub Actions
  .github/CI-CD-README.md
  .github/MIGRATION-SUMMARY.md
  .github/SECRETS-SETUP.md
  .github/workflows/analyst-server.yml
  .github/workflows/auth-server.yml
  .github/workflows/bot-server.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/captcha-server.yml
  .github/workflows/frontend.yml
  .github/workflows/room-server.yml
  .github/workflows/search-server.yml
  .github/workflows/seatmap-server.yml
  .github/workflows/stats-server.yml
  .github/workflows/ticketing-server.yml
  .github/workflows/user-server.yml
Due: none

fix: github CI 테스트 주석
  Frontend/src/App.tsx
Due: build:frontend

fix: 오타 수정 manifests -> manifest
  .github/workflows/build-and-deploy.yml
Due: none

fix: Frontent CI 테스트 주석
  Frontend/src/App.tsx
Due: build:frontend

fix: user-server CI 테스트 주석 추가
  Backend/user-server/src/main/java/com/tickget/userserver/UserServerApplication.java
Due: none

refactor:고수 봇 반응속도 상승
  Backend/bot-server/bot/level.go
Due: build:bot-server

hotfix: 누락된 파일 및 오류 수정
  Frontend/cypress/support/commands.ts
  Frontend/eslint.config.js
  Frontend/index.html
  Frontend/package-lock.json
  Frontend/postcss.config.js
  Frontend/public/favicon.ico
  Frontend/public/header-logo-blue.svg
  Frontend/public/header-logo-violet.svg
  Frontend/public/login_bg.png
  Frontend/public/signup_bg.png
  Frontend/public/tickget-logo.svg
  Frontend/public/tickget.mp4
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/app/routes/guards/AuthGuard.tsx
  Frontend/src/features/auth/store.ts
  Frontend/src/features/booking-site/store.ts
  Frontend/src/features/room/api.ts
  Frontend/src/index.css
  Frontend/src/main.tsx
  Frontend/src/pages/auth/login/LoginSuccess.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/test/SeatsTest.tsx
  Frontend/src/pages/user-page/_components/TsxPreview.tsx
  Frontend/src/shared/images/header-logo.svg
  Frontend/src/shared/images/icons/favicon.ico
  Frontend/src/shared/images/icons/google.png
  Frontend/src/shared/images/icons/tickget-logo.png
  Frontend/src/shared/images/icons/tickget-logo.svg
  Frontend/src/shared/lib/websocket.ts
  Frontend/src/shared/ui/base/Button.tsx
  Frontend/src/shared/ui/common/Footer.tsx
  Frontend/src/shared/ui/common/Modal.tsx
  Frontend/src/shared/ui/common/SearchBar.tsx
  Frontend/src/shared/utils/reserveMetrics.ts
  Frontend/tsconfig.json
  Frontend/tsconfig.node.json
  Frontend/tsconfig.paths.json
Due: build:frontend

chore: 누락된 파일들 복구
  .gitignore
  .tsbuildinfo
  Dockerfile
  Frontend/README.md
  Frontend/cypress/support/e2e.ts
  cypress.config.js
  cypress.config.ts
  dummy
  nginx.conf
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.paths.tsbuildinfo
  vite.config.ts
Due: build:frontend

fix: 빌드 도구 QEMU 지정 및 빌드 플랫폼 arm64 지정
  .github/workflows/build-and-deploy.yml
Due: none

hotfix: userId에 따른 방 생성 제한 없앰
  Frontend/src/pages/home/Home.tsx
Due: build:frontend

hotfix: userId에 따른 방 생성 제한 없앰
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

fix: 게스트 로그인 관련 내용 주석 처리
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend

refactor: 봇 수 개수 조정
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingStep2.tsx
Due: build:frontend

feat: README 작성
  README.md
Due: none

docs: Update README.md
  README.md
  docs/BOT_SERVER_README.md
  docs/FRONTEND_README.md
  docs/ROOM_SERVER_README.md
Due: none

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
