Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

refactor: 구글 로그인 메시지 수정
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

fix: 방카드 호버 시 효과 수정[S13P31A209-149-fe-방-카드-ui-수정]4
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: none

feat: 대기큐에 정보를 라이브로 보내주는 소켓 통신 세팅[S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingStartedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
Due: build:room-server:dev, build:room-server:master

feat: 대기큐정보 주기적 업로드 소켓통신 로직 구현 [S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/QueueStatus.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/QueueStatusMapPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 필드 타입 수정 [S13P31A209-162]
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/ConfirmedSeatDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/ReservedSeatInfoDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatInfo.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatReservationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatStatusDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatStatusResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 대기큐 디큐 시 알림 구현[S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserDequeuedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserDequeuedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 공연장 생성 요청 API 생성 [S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/HallController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/HallSize.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateHallRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateHallResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/HallService.java
Due: build:room-server:dev, build:room-server:master

fix: 임시값이 아니라 제대로 된 시작 시간이 들어가도록 변경 [S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/HallService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

refactor: 실제 매치 아이디 가져오는 로직으로 변경 [S13P31A209-104]
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
Due: build:room-server:dev, build:room-server:master

refactor: 파일 구조 변경
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/UserStats.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/repository/MatchRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/repository/UserStatsRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatStatusService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

Be/room integration improvements
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/HallController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/HallSize.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/QueueStatus.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateHallRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/NotifyRoomLeftRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateHallResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingStartedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserDequeuedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/QueueStatusMapPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserDequeuedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/HallService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

[BE] Room-server 기본 기능 모두 구현
  Backend/room-server/src/main/java/com/tickget/roomserver/config/KafkaConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/HallController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/PresetHall.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/HallSize.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/QueueStatus.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateHallRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/CreateMatchRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/NotifyRoomLeftRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateHallResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomPlayingStartedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserDequeuedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/QueueStatusMapPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserDequeuedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/HallService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/TicketingServiceClient.java
Due: build:room-server:dev, build:room-server:master

fix: 인터파크 ui 레이아웃 수정 및 불필요한 과정 삭제[S13P31A209-149-fe-방-카드-ui-수정]
  Frontend/public/time.svg
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/CancelFee.tsx
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/Complete.tsx
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/OrderConFirm.tsx
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/Payment.tsx
  Frontend/src/pages/game-room/exterpark-site/exterpark-booking/SelectVenue.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/room-modal/_components/RoomSettingModal.tsx
  Frontend/tsconfig.app.json
Due: none

feat: 봇 서버 Dockerfile 추가
  Backend/auth-server/.gradle/8.14.3/checksums/checksums.lock
  Backend/auth-server/.gradle/8.14.3/checksums/sha1-checksums.bin
  Backend/auth-server/bin/main/application.yml
  Backend/auth-server/bin/main/com/tickget/authserver/AuthServerApplication.class
  Backend/auth-server/bin/main/com/tickget/authserver/config/RedisConfig.class
  Backend/auth-server/bin/main/com/tickget/authserver/config/SecurityConfig.class
  Backend/auth-server/bin/main/com/tickget/authserver/controller/AuthController.class
  Backend/auth-server/bin/main/com/tickget/authserver/controller/TestController.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/TestLoginResponse$TestLoginResponseBuilder.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/TestLoginResponse.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/TokenResponse$TokenResponseBuilder.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/TokenResponse.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/UserResponse$UserResponseBuilder.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/UserResponse.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/ValidationResponse$ValidationResponseBuilder.class
  Backend/auth-server/bin/main/com/tickget/authserver/dto/ValidationResponse.class
  Backend/auth-server/bin/main/com/tickget/authserver/entity/User$Gender.class
  Backend/auth-server/bin/main/com/tickget/authserver/entity/User$UserBuilder.class
  Backend/auth-server/bin/main/com/tickget/authserver/entity/User.class
  Backend/auth-server/bin/main/com/tickget/authserver/filter/RequestLoggingFilter.class
  Backend/auth-server/bin/main/com/tickget/authserver/jwt/JwtAuthenticationFilter.class
  Backend/auth-server/bin/main/com/tickget/authserver/jwt/JwtTokenProvider.class
  Backend/auth-server/bin/main/com/tickget/authserver/oauth/CustomOAuth2User.class
  Backend/auth-server/bin/main/com/tickget/authserver/oauth/CustomOAuth2UserService.class
  Backend/auth-server/bin/main/com/tickget/authserver/oauth/OAuth2LoginSuccessHandler.class
  Backend/auth-server/bin/main/com/tickget/authserver/repository/UserRepository.class
  Backend/auth-server/bin/main/com/tickget/authserver/service/BotTokenService.class
  Backend/auth-server/bin/main/com/tickget/authserver/service/TestUserService.class
  Backend/auth-server/bin/main/com/tickget/authserver/service/TokenService.class
  Backend/bot-server/Dockerfile
Due: none

fix: update Kafka consumer config for manual ack and topic fixes
  Backend/ticketing-server/src/main/java/com/ticketing/config/KafkaConfig.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/consumer/StatisticsEventConsumer.java
  Backend/ticketing-server/src/main/resources/application.yml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat:kafka-dequeued producer, Redis Key 기능 구현
  Backend/ticketing-server/.gitignore
  Backend/ticketing-server/src/main/java/com/ticketing/KafkaTopic.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/config/QueueTopicReconciler.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/controller/QueueController.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchCacheWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumerNew.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueuePosition.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueuePositionWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueWriter.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

refactor: game room 폴더 booking site 로 이름 변경
  Frontend/src/app/routes/index.tsx
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/GameResult.tsx
  Frontend/src/pages/booking-site/RoomsList.tsx
  Frontend/src/pages/booking-site/exterpark-site/Exterpark.tsx
  Frontend/src/pages/booking-site/exterpark-site/_components/GuideNotice.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/CancelFee.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/Complete.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/OrderConFirm.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/SelectSchedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/SelectSeat.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/SelectVenue.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Viewport.tsx
Due: none

fix: yml 중복 삭제
  Backend/ticketing-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/resources/application.yml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: stompjs 설치, 예매플로우 레이아웃과 컬러 수정, 라우팅 오류 수정
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/app/routes/index.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/01-Schedule.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/06-CancelFee.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/07-Complete.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/BookingLayout.tsx
  Frontend/src/pages/booking-site/watermelon-site/WatermelonRoom.tsx
Due: none

feat: 필드 타입 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/ReservedSeatInfoDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatInfo.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatReservationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: Security 5173 포트 open
  Backend/auth-server/bin/main/com/tickget/authserver/config/SecurityConfig.class
  Backend/auth-server/src/main/java/com/tickget/authserver/config/SecurityConfig.java
Due: none

feat: yaml 파일 DB 비번 수정
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 경기종료 로직 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: DB_PASSWORD 제거
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 웹소켓 연결[S13P31A209-134-fe-방-생성-api-연결]
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/shared/lib/websocket.ts
  Frontend/src/types/sockjs-client.d.ts
Due: none

feat: 캡챠 보안문자 확인
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
Due: none
