Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

fix: 레디스 TTL 설정 빼먹은 곳 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
Due: build:room-server

refactor: 대기열 API 호출 로직 수정 및 디버깅 정보 추가
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

chore: logs added
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
Due: none

chore:log info added
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchInfoStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
Due: none

fix:bug fix in specifics stats
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDifferenceAddedDTO.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
Due: none

feat: 등수계산로직 confirm 시점에서 계산, 매치상태(OPEN) 레디스 키 ttl 추가, user_stats에 좌석정보 두개까지 저장
  Backend/ticketing-server/src/main/java/com/ticketing/entity/UserStats.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

refactor: 코드 정리 및 불필요한 주석 제거
  Frontend/cypress.config.ts
  Frontend/cypress/support/e2e.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

ai 생성 렌더링 크기 맞추기
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/room/create-room/CreateRoomLeftPane.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/shared/components/TsxPreview.tsx
Due: build:frontend

fix: handleUserLeftRoom 매치 조회 부분 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/UserLeftRoomService.java
Due: build:ticketing-server

feat: 매치테이블에 user_count 저장
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
Due: build:ticketing-server

refactor: 파일 이름을 원본 이미지명에서 hall_name값으로 변경
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

fix: 버튼 포인트 커서 효과
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/CaptchaModal.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
  Frontend/src/pages/user-page/_components/UserStats.tsx
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/ui/common/TabNavigation.tsx
Due: build:frontend

test: user_stats에 봇 데이터 추가
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

fix: 이용 가이드 배치도 이미지 추가
  Frontend/public/test.png
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/pages/room/create-room/CreateRoomThumbnailSelect.tsx
Due: build:frontend

refactor: 대기열 관련 상태 관리 및 API 호출 로직 개선
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

feat: 방 목록 새로고침 기능 추가 및 API 호출 로직 개선
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

feat: 방의 총 좌석 수 반환하는 api 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server

fix: totalseat 룸서버에서 받아오기
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

ai 생성 시 hallName 적용
  Frontend/src/features/room/api.ts
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

refactor: 대기열 순위 및 총 대기 인원 계산 로직 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
Due: build:frontend

fix: 엔트포인트 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
Due: build:ticketing-server
