Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

실패 api 경로 수정
  Frontend/src/features/booking-site/api.ts
Due: build:frontend

콘솔 로그 추가
  Frontend/src/features/booking-site/api.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

feat: selectedSeat에 failed에 추가
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/FailedStatsService.java
Due: build:ticketing-server

feat: 새 창으로 대기열 페이지 및 방 입장 로직 추가
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-QueueNew.tsx
Due: build:frontend

feat: changes in userNickname && collecting user stats after a game finishes
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/RankingData/RankingDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/Ranking.java
  Backend/stats-server/src/main/java/com/stats/repository/MatchRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/RankingRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/SmallConcertHall.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/TotalArea.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/SmallConcertHallRepository.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/TotalAreaRepository.java
Due: build:ticketing-server

test 계정 다시
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
  Frontend/src/shared/hooks/useSeatStatsFailedOnUnload.ts
Due: build:frontend

refactor: AI 분석 탭 수정버튼 추가, 경기 기록 5개 이상)
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/AnalysisLoader.tsx
  Frontend/src/pages/user-page/_components/AnalysisTab.tsx
Due: build:frontend

refactor: 난이도에 따라 태그 색상 반영
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchHistoryCard.tsx
  Frontend/src/pages/user-page/mockData.ts
Due: build:frontend

fix: 룸서버 세션 재연결 시(소켓 재 생성 시) 재연결 컨텍스트를 확인하도록
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/search-server/.idea/gradle.xml
Due: build:room-server

새로고침 처리
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/shared/hooks/useSeatStatsFailedOnUnload.ts
Due: build:frontend

feat: 로그인 알림에서 로그인 화면으로 이동
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

refactor: 마이페이지 API에서 userName 을 userNickname 로 변경
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

경기 시작 30초 전 막기
  Frontend/src/app/layouts/MainLayout.tsx
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: build:frontend

refactor: TsxPreview 위치 수정, 기존의 공연장 구역 컴포넌트 제거
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/room/create-room/CreateRoomLeftPane.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/TsxPreview.tsx
Due: build:frontend

fix: 봇 응답 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

refacter: report-toast-llm에서 생성되는 답변 다양하게 나오게 변경
  AI/AI_analyst/LLM_main.py
  AI/AI_analyst/analysis_main.py
  AI/AI_analyst/data_loader.py
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

fix: ttl 10분에서 30분으로 수정
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

fix: status 키 초기화 로직 삭제
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

경기 뒤로가기, 자동 나가기 처리
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/04-OrderConfirm.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/shared/hooks/useBlockBackButtonDuringGame.ts
Due: build:frontend

refactor: 마이페이지 올림픽홀 수정, 보여주는 방식 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/TsxPreview.tsx
Due: build:frontend

방 나가ㅣ 버튼
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Viewport.tsx
Due: build:frontend
