Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

build:test-server:test-dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

feat: 경기 시작/종료 이벤트 구현[S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchStartedEvent.java
Due: build:room-server:dev, build:room-server:master

feat: 얇은 Conumser층을 위해 로직을 Service로 이전 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/event/HostChangedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 이벤트 핸들링용 RoomEventHandler 서비스 구현 [S13P31A209-121]
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 경기 종료 후 Redis 키 삭제 [S13P31A209-154]
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: bot-server 패키지 및 전체 구조 설정 [S13P31A209-155]
  Backend/bot-server/api/handler.go
  Backend/bot-server/api/middleware.go
  Backend/bot-server/api/server.go
  Backend/bot-server/bot/bot.go
  Backend/bot-server/bot/config.go
  Backend/bot-server/bot/executor.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/client/http_client.go
  Backend/bot-server/config/config.go
  Backend/bot-server/go.mod
  Backend/bot-server/logger/logger.go
  Backend/bot-server/main.go
  Backend/bot-server/manager/match_manager.go
  Backend/bot-server/manager/resource_manager.go
  Backend/bot-server/match/context.go
  Backend/bot-server/match/simulation.go
  Backend/bot-server/match/status.go
  Backend/bot-server/models/request.go
  Backend/bot-server/models/response.go
  Backend/bot-server/models/ticket.go
  Backend/bot-server/scheduler/schedular.go
  Backend/bot-server/stats/aggregator.go
  Backend/bot-server/stats/collector.go
  Backend/bot-server/stats/sender.go
  Backend/bot-server/utils/random.go
Due: none

feat: 올림픽홀 섹션 생성[S13P31A209-132-fe-커스텀-공연장-중형-생성]
  Frontend/public/seatmap-medium.html
  Frontend/src/pages/booking/_components/venues/LargeVenue.tsx
  Frontend/src/pages/booking/_components/venues/MediumVenue.tsx
Due: none

feat: 소형 공연장 좌석 배치 로직 개선 및 스타일 조정, 배경 이미지 업데이트 (1차 완성)
  Frontend/public/performance-halls/charlotte-theater-background.jpg
  Frontend/src/pages/booking/_components/venues/SmallVenue.tsx
Due: none

feat: 소형 공연장 좌석 선택 기능 개선 및 상태 관리 추가
  Frontend/src/pages/booking/_components/venues/SmallVenue.tsx
  Frontend/src/pages/booking/select-seat/index.tsx
Due: none

feat: 올림픽홀 s석 생성[S13P31A209-132-fe-커스텀-공연장-중 형-생성]
  Frontend/src/pages/booking/_components/venues/MediumVenue.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/S/Olympic_18.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/S/Olympic_20.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/S/Olympic_21.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/S/Olympic_22.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/S/Olympic_23.tsx
Due: none

feat: zap 기반 구조화 로거 구현 [S13P31A209-155]
  Backend/bot-server/go.mod
  Backend/bot-server/go.sum
  Backend/bot-server/logger/logger.go
Due: none

feat: 기본 HTTP 서버 구조 구현 [S13P31A209-155]
  Backend/bot-server/api/handler.go
  Backend/bot-server/api/server.go
  Backend/bot-server/config/config.go
  Backend/bot-server/main.go
Due: none

feat: 올림픽홀 R 생성[S13P31A209-132-fe-커스텀-공연장-중 형-생성S13P31A209-132-fe-커스텀-공연장-중형-생성]
  Frontend/src/pages/booking/_components/venues/MediumVenue.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/R/Olympic_11.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/R/Olympic_12.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/R/Olympic_7.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/R/Olympic_9.tsx
Due: none

refactor: net/http를 Gin으로 마이그레이션 [S13P31A209-155]
  Backend/bot-server/api/handler.go
  Backend/bot-server/api/server.go
  Backend/bot-server/go.mod
  Backend/bot-server/go.sum
Due: none

feat: 매치 시작 API 엔드포인트 구현 [S13P31A209-155]
  Backend/bot-server/api/handler.go
  Backend/bot-server/models/request.go
  Backend/bot-server/models/response.go
Due: none

feat: 올림픽홀 vip, 스탠딩[S13P31A209-132-fe-커스텀-공연장-중형-생성]
  Frontend/src/pages/booking/_components/venues/MediumVenue.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/STANDING/Olympic_1.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/VIP/Olympic_4.tsx
  Frontend/src/shared/ui/common/Olympic_Hall/VIP/Olympic_5.tsx
Due: none

feat: 스케줄링 및 다중 봇 실행 시스템 구현 [S13P31A209-155]
  Backend/bot-server/api/handler.go
  Backend/bot-server/bot/bot.go
  Backend/bot-server/manager/match_manager.go
  Backend/bot-server/match/context.go
  Backend/bot-server/match/status.go
  Backend/bot-server/scheduler/schedular.go
Due: none

feat: Dockerfile 추가
  Backend/room-server/Dockerfile
  Backend/test-server/.gradle/8.14.3/checksums/checksums.lock
  Backend/test-server/.gradle/8.14.3/executionHistory/executionHistory.lock
  Backend/test-server/.gradle/8.14.3/fileChanges/last-build.bin
  Backend/test-server/.gradle/8.14.3/fileHashes/fileHashes.lock
  Backend/test-server/.gradle/8.14.3/gc.properties
  Backend/test-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Backend/test-server/.gradle/buildOutputCleanup/cache.properties
  Backend/test-server/.gradle/vcs-1/gc.properties
  Backend/test-server/.idea/.gitignore
  Backend/test-server/.idea/compiler.xml
  Backend/test-server/.idea/gradle.xml
  Backend/test-server/.idea/misc.xml
  Backend/test-server/.idea/vcs.xml
  Backend/test-server/bin/main/application.properties
  Backend/test-server/bin/main/com/example/testserver/TestServerApplication.class
  Backend/test-server/bin/main/com/example/testserver/config/SecurityConfig.class
  Backend/test-server/bin/main/com/example/testserver/controller/TestController.class
  Backend/test-server/bin/main/com/example/testserver/mongo/MongoTestDocument.class
  Backend/test-server/bin/main/com/example/testserver/mongo/MongoTestRepository.class
  Backend/test-server/bin/main/com/example/testserver/mysql/MySqlTestEntity.class
  Backend/test-server/bin/main/com/example/testserver/mysql/MySqlTestRepository.class
  Backend/test-server/bin/test/com/example/testserver/TestServerApplicationTests.class
Due: build:test-server:test-dev, build:room-server:dev, build:room-server:master

feat: 환경변수 관리를 위한 .env 파일 시스템 도입 [S13P31A209-155]
  Backend/bot-server/.env.example
  Backend/bot-server/.gitignore
  Backend/bot-server/config/config.go
  Backend/bot-server/go.mod
  Backend/bot-server/go.sum
  Backend/bot-server/main.go
Due: none

fix: 배너 및 썸네일 webp로 변환
  Frontend/public/banner-get.png
  Frontend/public/banner-get.webp
  Frontend/src/pages/home/index.tsx
  Frontend/src/pages/rooms/_components/CreateRoomModal.tsx
  Frontend/src/pages/rooms/index.tsx
  Frontend/src/shared/images/thumbnail/Thumbnail01.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail01.webp
  Frontend/src/shared/images/thumbnail/Thumbnail02.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail02.webp
  Frontend/src/shared/images/thumbnail/Thumbnail03.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail03.webp
  Frontend/src/shared/images/thumbnail/Thumbnail04.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail04.webp
  Frontend/src/shared/images/thumbnail/Thumbnail05.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail05.webp
  Frontend/src/shared/images/thumbnail/Thumbnail06.jpg
  Frontend/src/shared/images/thumbnail/Thumbnail06.webp
Due: none

feat: Add default merge request template for better PR documentation
  .gitlab/merge_request_templates/default.md
Due: none

refactor: 매치 설정 및 상태 관련 통신을 이벤트 큐 기반에서 HTTP API 기반으로 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/RoomInfoUpdate.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/request/MatchSettingUpdateRequest.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchEndedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/MatchStartedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/RoomSettingUpdatedEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

fix: jpg to webp
  Frontend/src/pages/Ticketing/Exterpark/Exterpark.tsx
  Frontend/src/pages/Ticketing/_components/RoomSettingModal.tsx
Due: none

feat: 솔로 및 대결 분기 추가
  Frontend/src/pages/Ticketing/_components/RoomSettingModal.tsx
  Frontend/src/pages/Ticketing/_components/RoomSettingStep1.tsx
  Frontend/src/pages/rooms/_components/CreateRoomModal.tsx
  Frontend/src/pages/rooms/_components/CreateRoomStep1.tsx
Due: none

feat: Dockerfile 및 라우팅용 nginx 추가
  Frontend/Dockerfile
  Frontend/nginx.conf
Due: none

feat: 사용자 추가 정보 입력 기능 구현
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/config/SecurityConfig.java
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/oauth/CustomOAuth2UserService.java
  Backend/main-server/src/main/java/com/tickget/mainserver/auth/oauth/OAuth2LoginSuccessHandler.java
  Backend/main-server/src/main/java/com/tickget/mainserver/user/controller/UserController.java
  Backend/main-server/src/main/java/com/tickget/mainserver/user/dto/UserProfileRequest.java
  Backend/main-server/src/main/java/com/tickget/mainserver/user/repository/UserRepository.java
  Backend/main-server/src/main/java/com/tickget/mainserver/user/service/UserService.java
Due: none

feat: SITH v1 배포
  AI/seatmap_to_html/.gitignore
  AI/seatmap_to_html/main_modular.py
  AI/seatmap_to_html/ocr_requirements.txt
  AI/seatmap_to_html/ocr_service.py
  AI/seatmap_to_html/requirements.txt
Due: none

feat: branch test
  AI/AI_analyst/mcp.py
Due: none

feat:file updates in process
  Backend/ticketing-server/src/main/java/com/ticketing/HealthController.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/CaptchaDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/DTO/HttpResultDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/controller/CaptchaController.java
  Backend/ticketing-server/src/main/java/com/ticketing/captcha/service/CaptchaService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueWriter.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/TestController.java
  Backend/ticketing-server/src/main/resources/static/docker-compose.yaml
  Backend/ticketing-server/src/main/resources/static/test.html
  docker-compose.yaml
Due: build:ticketing-server:dev, build:ticketing-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*
