Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

chore: unused import 문 제거
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server

chore: 오타 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/ThumbnailController.java
Due: build:room-server

[BE]Room-server 썸네일 업로드 로직 분리
  Backend/room-server/build.gradle
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/RoomController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/controller/ThumbnailController.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/entity/Room.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/ThumbnailUploadResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/exception/FileUploadException.java
  Backend/room-server/src/main/java/com/tickget/roomserver/exception/GlobalExceptionHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/MinioService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/ThumbnailService.java
Due: build:room-server

feat: 방 생성, 조회시 tsxUrl 추가
  Frontend/src/features/room/store.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

refactor: 대기열 빠지는 속도 변경
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

refactor: AI 공연장 좌석배치 화면에서 표시
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
Due: build:frontend

공연장 검색 추가
  Frontend/src/features/room/types.ts
  Frontend/src/features/search/components/ConcertHallSearch.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/shared/api/searchApi.ts
  Frontend/src/shared/types/search.types.ts
Due: build:frontend

feat: 유저 정보 조회 및 수정 api 구현
  Backend/user-server/build.gradle
  Backend/user-server/src/main/java/com/tickget/userserver/config/MinioConfig.java
  Backend/user-server/src/main/java/com/tickget/userserver/controller/ProfileImageController.java
  Backend/user-server/src/main/java/com/tickget/userserver/controller/UserProfileController.java
  Backend/user-server/src/main/java/com/tickget/userserver/dto/ErrorResponse.java
  Backend/user-server/src/main/java/com/tickget/userserver/dto/UserProfileResponse.java
  Backend/user-server/src/main/java/com/tickget/userserver/dto/UserProfileUpdateRequest.java
  Backend/user-server/src/main/java/com/tickget/userserver/entity/User.java
  Backend/user-server/src/main/java/com/tickget/userserver/exception/GlobalExceptionHandler.java
  Backend/user-server/src/main/java/com/tickget/userserver/exception/NicknameConflictException.java
  Backend/user-server/src/main/java/com/tickget/userserver/exception/UserNotFoundException.java
  Backend/user-server/src/main/java/com/tickget/userserver/repository/UserRepository.java
  Backend/user-server/src/main/java/com/tickget/userserver/server/MinioService.java
  Backend/user-server/src/main/java/com/tickget/userserver/server/UserProfileService.java
  Backend/user-server/src/main/resources/application.yml
Due: none

구글 계정 로그인 복원
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/auth/sign-up/SignUp.tsx
  Frontend/vite.config.ts
Due: build:frontend

feat: 방 썸네일 S3 URL 추가
  Frontend/src/features/room/api.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/03-Price.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: build:frontend

fix: 요일 선택 Duration을 밀리초에서 초 단위로 변경
  Backend/bot-server/bot/bot.go
  Backend/bot-server/client/request.go
Due: build:bot-server

fix: 썸네일 사진 업로드, 좌석 배치도 사진 업로드 구분
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

login 리다이렉트 수정
  Frontend/src/app/routes/index.tsx
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/auth/sign-up/SignUp.tsx
Due: build:frontend

fix: user-server CI 추가
  .gitlab-ci.yml
Due: none

feat: roomStore 추가, 홈화면에서 썸네일 오류 수정
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
Due: build:frontend

fix:CI용 주석 추가
  Backend/user-server/src/main/java/com/tickget/userserver/UserServerApplication.java
Due: none

feat: Dockerfile 추가 및 Ci용 주석 추가
  Backend/user-server/Dockerfile
  Backend/user-server/src/main/java/com/tickget/userserver/UserServerApplication.java
Due: none

fix: 좌석 선점 로직 버그 수정 및 순환 할당 구현
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/match/simulation.go
  Backend/bot-server/models/ticket.go
Due: build:bot-server

refactor: 봇 반응속도 관련 값 변경
  Backend/bot-server/bot/level.go
Due: build:bot-server

로그인 페이지 모달창 나오는거 수정
  Frontend/public/oauth-callback.html
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: build:frontend

[BE] Bot-server: 좌석선점 로직 리팩토링 및 파라미터 변경
  Backend/bot-server/bot/level.go
  Backend/bot-server/bot/seat_selector.go
  Backend/bot-server/match/simulation.go
  Backend/bot-server/models/ticket.go
Due: build:bot-server
