Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

chore:changes in queue speed
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

feat: 유저가 더 이상 존재하지 않는 방의 경우 대기큐 브로드캐스트 종료
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
Due: build:room-server

refactor: Kafka 기반 개별 봇 시작 아키텍처로 변경
  Backend/bot-server/bot/bot.go
  Backend/bot-server/config/config.go
  Backend/bot-server/kafka/consumer.go
  Backend/bot-server/match/service.go
Due: build:bot-server

chore: change .json section data type (int -> string)
  AI/seatmap_to_html/main_modular.py
Due: build:seatmap-server

feat: WebSocket 연결 및 대기열 이벤트 로깅 추가
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

chore: UserDequeuedEvent 필드값 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserDequeuedEvent.java
Due: build:room-server

refactor: 임시로 넣어놓은 대기열 값 삭제
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

fix:Kakfa roomId done
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server

refactor: Kafka 기반 개별 봇 대기 해제 아키텍처로 변경
  Backend/bot-server/match/service.go
Due: build:bot-server

ai 이미지 랜더링
  Frontend/src/features/room/api.ts
  Frontend/src/pages/room/create-room/CreateRoomLeftPane.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/shared/components/TsxPreview.tsx
Due: build:frontend

fix:Kakfa roomId done
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

fix: 누락된 코드 수정
  Backend/bot-server/kafka/consumer.go
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server, build:bot-server

feat: 대기열 예외 처리
  Frontend/src/pages/booking-site/exterpark-site/_components/StopwatchHUD.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

fix: redis 잘못된 키값 반환 로직 수정
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
Due: build:ticketing-server

refactor: 코드 정리 및 대기열 이동 로직 개선 (total = 0 일때 패스)
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

chore: 사소한 로그 추가
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
Due: build:ticketing-server

chore: 불필요한 스케줄링 삭제 로직 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
Due: build:room-server

refactor: captcha 검증 API를 POST에서 GET 요청으로 변경
  Backend/bot-server/client/http_client.go
Due: build:bot-server

feat: 드래그 가능한 스톱워치 게임방 화면에 추가
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/_components/StopwatchHUD.tsx
Due: build:frontend

d
  Frontend/src/pages/user-page/MyPage.tsx
Due: build:frontend

fix: 봇 0명 선택 가능
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
