Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

fix: 방장 표시
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

feat: 방리스트에서 호스트 정보 반환로직 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomResponse.java
Due: build:room-server

feat: 헤더 바로가기, RoomsList 페이지 그래프, 기록 표시 수정
  Frontend/dummy
  Frontend/src/app/routes/index.tsx
  Frontend/src/app/routes/paths.ts
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/WeeklyRanking.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
  Frontend/src/pages/user-page/_components/TsxPreview.tsx
  Frontend/src/pages/user-page/_components/UserStats.tsx
  Frontend/src/shared/styles/tailwind.css
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/ui/common/HeaderShortcuts.tsx
Due: build:frontend

feat:이벤트 배너 및 특정 유저 방 생성시 연결
  Frontend/public/event.webp
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/home/Home.tsx
Due: build:frontend

feat: SeatConfirmationResponse에 totalRank 추가 및 매치 서버 알림 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/event/MatchEndEvent.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchEndEventListener.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

feat: 사용자 랭크 및 전체 랭크 저장 로직 추가, 주간 랭킹 API 및 UI 구현
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/features/stats/api.ts
  Frontend/src/features/stats/types.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/home/WeeklyRanking.tsx
  Frontend/src/pages/stats/WeeklyRanking.tsx
  Frontend/src/shared/styles/tailwind.css
  Frontend/src/shared/ui/common/HeaderShortcuts.tsx
Due: build:frontend

refactor: 코드 정리 및 가독성 향상
  Frontend/src/pages/home/WeeklyRanking.tsx
Due: build:frontend

알림창 수정
  Frontend/src/App.tsx
  Frontend/src/app/routes/index.tsx
  Frontend/src/app/routes/paths.ts
  Frontend/src/components/SeatTakenAlert.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Queue.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Viewport.tsx
  Frontend/src/pages/design/DesignTestPage.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/shared/hooks/useAlert.tsx
  Frontend/src/shared/hooks/useBlockBackButtonDuringGame.ts
  Frontend/src/shared/hooks/useConfirm.tsx
  Frontend/src/shared/providers/AlertProvider.tsx
  Frontend/src/shared/ui/common/ConfirmDialog.tsx
  Frontend/src/shared/ui/common/CustomAlert.tsx
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/ui/common/HeaderShortcuts.tsx
  Frontend/src/shared/utils/alert.ts
  Frontend/src/shared/utils/confirm.ts
Due: build:frontend

feat:stats-server finished (MyPage ranking finished)
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/MyPageRankingDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/RankingPercentileDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/Ranking.java
  Backend/stats-server/src/main/java/com/stats/repository/RankingRepository.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
  Backend/stats-server/src/main/java/com/stats/util/StatsParser.java
Due: none

fix: 매치 서버 알림 롤백
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

fix: Test -> Guest로 변경
  Backend/auth-server/bin/main/com/tickget/authserver/controller/TestController.class
  Backend/auth-server/bin/main/com/tickget/authserver/service/TestUserService.class
  Backend/auth-server/src/main/java/com/tickget/authserver/controller/TestController.java
  Backend/auth-server/src/main/java/com/tickget/authserver/service/TestUserService.java
Due: build:auth-server

refactor: 봇 난이도 하락
  Backend/bot-server/bot/level.go
Due: build:bot-server

feat: 게스트 로그인 버튼 수정
  Frontend/public/tickget-login-logo.jpg
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/shared/ui/common/HeaderShortcuts.tsx
Due: build:frontend

fix: 매치서버 알림 대기시간(2500ms) 추가
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

fix: 매치서버 알림 대기시간(2500ms) 삭제
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

fix:stats-server max cap in ranking server
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

fix:stats-server divide by changed to 100
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

fix: cleanupAllMatchRedis 주석처리
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationServiceBackup.java
Due: build:ticketing-server

fix: stats digit fix
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

결제하기 버튼 중복 방지
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/05-Payment.tsx
Due: build:frontend

fix: double type fix
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
Due: none

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
