Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*

fix: 누락 import문 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

fix: UTC에서 KST로 방 생성시 시작 시간 조정
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/shared/lib/ws.ts
  Frontend/src/types/stompjs.d.ts
Due: none

perf: Docker 빌드 시간 50-70% 단축 최적화
  Backend/auth-server/Dockerfile
  Backend/auth-server/gradle.properties
  Backend/room-server/Dockerfile
  Backend/room-server/gradle.properties
  Backend/ticketing-server/Dockerfile
  Backend/ticketing-server/gradle.properties
  Frontend/Dockerfile
Due: build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

fix: 환경변수 설정 추가
  Frontend/.gitignore
  Frontend/Dockerfile
Due: none

fix: 방 생성 모달에서 공연장 세팅 오류 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: none

fix: API 경로 수정 (/api/v1/dev)
  Frontend/src/features/auth/api.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/shared/lib/http.ts
  Frontend/src/shared/lib/websocket.ts
Due: none

fix: 방 생성 오류 수정
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
Due: none

fix: 방 정보 값 변환
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/home/RoomsList.tsx
Due: none

feat: 헤더 로고, 로그아웃 버튼 클릭시에도 방 퇴장 확인 및 처리 로직 추가
  Frontend/src/shared/ui/common/Header.tsx
Due: none

fix: 헤더 로고 클릭시 미퇴장 상태로 홈화면에 가는 문제 수정
  Frontend/src/shared/ui/common/Header.tsx
Due: none

fix: API 경로에서 '/api/v1/dev'를 '/api/v1/'로 변경
  Frontend/src/features/auth/api.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/shared/lib/http.ts
Due: none

fix: 긴급 문제 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomDetailResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/RoomResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Frontend/Dockerfile
Due: build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

feat: UserJoinedRoomEvent에 UserName 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserJoinedRoomEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserJoinedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

feat: 관리자 로그인 추가
  Backend/auth-server/bin/main/com/tickget/authserver/controller/TestController.class
  Backend/auth-server/bin/main/com/tickget/authserver/jwt/JwtTokenProvider.class
  Backend/auth-server/bin/main/com/tickget/authserver/repository/UserRepository.class
  Backend/auth-server/bin/main/com/tickget/authserver/service/AdminUserService.class
  Backend/auth-server/src/main/java/com/tickget/authserver/controller/TestController.java
  Backend/auth-server/src/main/java/com/tickget/authserver/jwt/JwtTokenProvider.java
  Backend/auth-server/src/main/java/com/tickget/authserver/repository/UserRepository.java
  Backend/auth-server/src/main/java/com/tickget/authserver/service/AdminUserService.java
Due: none

관리자 계정 생성 추가
  Frontend/src/features/auth/api.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

관리자 계정 호버 효과 삭제
  Frontend/src/pages/auth/login/SocialLogin.tsx
Due: none

fix: API 경로 재수정 (api/v1/dev로 통일)
  Frontend/src/features/auth/api.ts
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/shared/lib/http.ts
Due: none

chore: sync ticketing-server from dev
  Backend/ticketing-server/Dockerfile
  Backend/ticketing-server/gradle.properties
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/ReservedSeatInfoDto.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatInfo.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatReservationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: topic명이 포트번호가 아니라 pod에 따라 변동되도록 변경
  Backend/room-server/src/main/resources/application.yml
Due: build:room-server:dev, build:room-server:master

refactor: 헤더 비로그인 상태에서 프로필 사진 제거
  Frontend/src/shared/ui/common/Header.tsx
Due: none
