Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:test-server:test-dev, build:ticketing-server:dev, build:ticketing-server:master, build:room-server:dev, build:room-server:master

build:test-server:test-dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:ticketing-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:dev:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

build:room-server:master:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  cache:
    key:
      files:
      - $SERVER_PATH/build.gradle
      prefix: $CI_COMMIT_REF_SLUG
    paths:
    - $CI_PROJECT_DIR/.gradle-cache/caches/
    - $CI_PROJECT_DIR/.gradle-cache/wrapper/
    policy: pull-push
  before_script:
  ...

fix: 방 입장 사 현재 대기 중인 매치 id를 필드로추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/JoinRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server:dev, build:room-server:master

[BE] Room-server 핫픽스
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/CreateRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/JoinRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/event/UserJoinedRoomEvent.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventProducer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/payload/UserJoinedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/resources/application.yml
Due: build:room-server:dev, build:room-server:master

주기적인 연결 확인 요청 삭제
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/shared/lib/websocket.ts
Due: none

feat: 대기 페이지에 API 연결 및 큐 등록 로직 구현
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: none

fix: kafka Deserialization 옵션 변경
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/resources/application.yml
Due: build:room-server:dev, build:room-server:master

feat: Long에서 float로 수정
  Backend/ticketing-server/src/main/java/com/ticketing/entity/UserStats.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatConfirmationRequest.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: RequestMapping url 수정
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatConfirmationController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatStatusController.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: 좌석 취소 api 추가
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/controller/SeatCancelController.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/dto/SeatCancelResponse.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatCancelService.java
Due: build:ticketing-server:dev, build:ticketing-server:master

feat: matchId 를 matchStore에 저장, 대기열 페이지 matchId 처리 로직 추가, webSocket 연결시 userId 포함
  Frontend/src/features/booking-site/store.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/shared/lib/websocket.ts
  Frontend/src/shared/lib/ws.ts
Due: none

시간 설정 임시로 변경(1분 단위)
  Frontend/src/pages/room/create-room/CreateRoomStep1.tsx
Due: none

chore: sync ticketing-server folder with be-dev branch
  Backend/ticketing-server/Dockerfile
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
Due: build:ticketing-server:dev, build:ticketing-server:master

chore: sync ticketing-server from dev
  Backend/ticketing-server/Dockerfile
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/MatchResponseDTO.java
Due: build:ticketing-server:dev, build:ticketing-server:master

fix: 소켓연결 시 userId 가져오는 로직 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/config/WebSocketConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server:dev, build:room-server:master

fix: 소켓연결 시 userId 가져오는 로직 수정 V2
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server:dev, build:room-server:master

feat: 섹션 상태, 좌석 선택, 좌석 취소 API 생성
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
Due: none

refactor: SeatConfirmRequest 반환 타입 변경
  Backend/bot-server/bot/bot.go
  Backend/bot-server/client/request.go
Due: none

이미지 최적화
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: none

Path conditions:
  build:test-server:test-dev: any of: Backend/test-server/**/*
  build:ticketing-server:dev: any of: Backend/ticketing-server/**/*
  build:ticketing-server:master: any of: Backend/ticketing-server/**/*
  build:room-server:dev: any of: Backend/room-server/**/*
  build:room-server:master: any of: Backend/room-server/**/*
