Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

[BE]: Room-server : 웹소켓 동시성 문제 해결
  Backend/room-server/src/main/java/com/tickget/roomserver/config/RedisLuaScriptConfig.java
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/repository/RoomCacheRepository.java
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/cache/GlobalSessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/SessionInfo.java
  Backend/room-server/src/main/java/com/tickget/roomserver/session/WebSocketSessionManager.java
  Backend/room-server/src/main/resources/application.yml
  Backend/room-server/src/main/resources/lua/register_global_session.lua
  Backend/room-server/src/main/resources/lua/remove_global_session_if_match.lua
Due: build:room-server

프로필 이미지 관련 로직 수정
  Frontend/src/pages/auth/login/LoginSuccess.tsx
  Frontend/src/pages/auth/login/SocialLogin.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/utils/profileImageUrl.ts
Due: build:frontend

feat: 봇 요청 0명 시 빠른 종료 로직 추가
  Backend/bot-server/match/service.go
Due: build:bot-server

feat: 매치 종료시 알림 이벤트 전송 로직 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/domain/enums/EventType.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventMessage.java
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/payload/MatchEndedPayload.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomEventHandler.java
Due: build:room-server

feat: 마이페이지 API 추가, cypress 테스트 코드 추가
  Frontend/cypress.config.ts
  Frontend/cypress/e2e/booking-flow.cy.ts
  Frontend/cypress/support/commands.ts
  Frontend/cypress/support/e2e.ts
  Frontend/package.json
  Frontend/src/features/user-page/api.ts
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/booking-site/exterpark-site/_components/TimerHUD.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/_components/PersonalStats.tsx
  Frontend/src/pages/user-page/_components/UserStats.tsx
  Frontend/src/shared/styles/tailwind.css
Due: build:frontend

fix:
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

이미지 경로 수정 및 각 페이지 별 로드
  Frontend/src/shared/utils/profileImageUrl.ts
Due: build:frontend

feat: 마이페이지 상세 기록 표시
  Frontend/src/features/user-page/api.ts
Due: build:frontend

feat: 기존 세션 강제 끊는 로직 일원화
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server

feat: 기존 세션 끊는 것을 위한 대기시간 추가
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server

refactor: 기존 세션 끊는 것을 위한 대기시간 로직 수정
  Backend/room-server/src/main/java/com/tickget/roomserver/listener/WebSocketEventListener.java
Due: build:room-server

fix: 빼먹은 build 삽입
  Backend/room-server/src/main/java/com/tickget/roomserver/kafka/RoomEventMessage.java
Due: build:room-server

헤더 이미지 반영바로 안됨
  Frontend/src/app/layouts/PlainLayout.tsx
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/ProfileBanner.tsx
  Frontend/src/shared/ui/common/Header.tsx
  Frontend/src/shared/utils/profileImageUrl.ts
Due: build:frontend

객체 참조 대신 실제 값으로 대체
  Backend/auth-server/.gradle/8.14.3/checksums/checksums.lock
  Backend/auth-server/.gradle/8.14.3/checksums/md5-checksums.bin
  Backend/auth-server/.gradle/8.14.3/checksums/sha1-checksums.bin
  Backend/search-server/.gradle/8.13/checksums/checksums.lock
  Backend/search-server/.gradle/8.13/checksums/md5-checksums.bin
  Backend/search-server/.gradle/8.13/checksums/sha1-checksums.bin
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend, build:auth-server

feat: 로직 수정
  Backend/ticketing-server/src/main/java/com/ticketing/TicketingServerApplication.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

feat: 최소 봇 요청 수 변경
  Backend/bot-server/models/request.go
Due: build:bot-server

feat:match data finished
  Backend/stats-server/src/main/java/com/stats/dto/ErrorResponseDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/ClickStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/MyPageDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/QueueSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SeatSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SecCodeDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SpecificStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/UserDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchDataDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchInfoStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDifferenceAddedDTO.java
  Backend/stats-server/src/main/java/com/stats/exception/GlobalExceptionHandler.java
  Backend/stats-server/src/main/java/com/stats/exception/RoomTypeException.java
Due: none

feat:match data finished
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/ErrorResponseDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/ClickStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/MyPageDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/QueueSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SeatSelectDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SecCodeDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/SpecificStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/IndividualData/UserDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchDataDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchInfoStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDifferenceAddedDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/Match.java
  Backend/stats-server/src/main/java/com/stats/exception/GlobalExceptionHandler.java
  Backend/stats-server/src/main/java/com/stats/exception/RoomTypeException.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: match-mypage finished
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/service/StatsBatchService.java
  Backend/stats-server/src/main/java/com/stats/service/StatsService.java
Due: none

feat: 시간제한(30분) 스케줄러 추가 및 유저등수 저장용 키 형식(Hash) 변경
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/MatchStatusSyncService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

feat:fixes in Matches DDL(total_seat), DB error fixed
  Backend/stats-server/src/main/java/com/stats/entity/MatchStats.java
  Backend/stats-server/src/main/resources/application.yaml
  Backend/ticketing-server/src/main/java/com/ticketing/entity/Match.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/DTO/request/MatchRequestDTO.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server
