Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*

fix: ci 테스트
  Backend/ticketing-server/src/main/java/com/ticketing/TicketingServerApplication.java
Due: build:ticketing-server

fix: RestTemplateConfig(new RestTemplate()) 삭제
  Backend/ticketing-server/src/main/java/com/ticketing/config/RestTemplateConfig.java
Due: build:ticketing-server

fix: ci 테스트 주석 수정
  Backend/ticketing-server/src/main/java/com/ticketing/TicketingServerApplication.java
Due: build:ticketing-server

chore: fix commit message — actually merged 'be/ticketing' into 'be-dev'
  Backend/ticketing-server/src/main/java/com/ticketing/config/RestTemplateConfig.java
Due: build:ticketing-server

matchId 타입 일관성 수정
  Frontend/src/features/booking-site/api.ts
  Frontend/src/features/booking-site/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/home/_components/RoomCard.tsx
Due: build:frontend

feat: RestTemplateConfig 추가
  Backend/ticketing-server/src/main/java/com/ticketing/config/RestTemplateConfig.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: 매치 종료 시 룸 서버에 알리는 HTTP 요청 구현
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/RoomServerClient.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
Due: build:ticketing-server

feat:match-init data fixed
  Backend/ticketing-server/src/main/java/com/ticketing/queue/domain/example.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/ClientService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/java/com/ticketing/repository/MatchCacheRepository.java
Due: build:ticketing-server

feat: AI 공연장 TSX 생성 API 연결, TSX 미리보기 패키지 설치
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/features/ai/store.ts
  Frontend/src/features/room/api.ts
  Frontend/src/features/room/types.ts
  Frontend/src/pages/room/create-room/CreateRoomLeftPane.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomStep2.tsx
  Frontend/src/shared/components/TsxPreview.tsx
Due: build:frontend

fix: 테스트용 주석 수정
  Backend/ticketing-server/src/main/java/com/ticketing/TicketingServerApplication.java
Due: build:ticketing-server

fix:Match-init minor fixes
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/ClientService.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
Due: build:ticketing-server

fix: 더 다양한 형식의 시간을 파싱할 수 있도록 변경
  Backend/bot-server/models/local_datetime.go
Due: build:bot-server

matchId 업데이트 추가
  Frontend/src/pages/home/_components/RoomCard.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
Due: build:frontend

fix: RoomNotificationScheduler에 로컬 세션 검증 로직 제거
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
Due: build:room-server

중형 대형 좌석 선점 상태 반영 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/performance-halls/large-venue/InspireArena.tsx
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
Due: build:frontend

소형 좌석 선점 상태 반영 수정
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

fix: USER_DEQUEUED 토픽명 통일화
  Backend/room-server/src/main/java/com/tickget/roomserver/kafaka/RoomEventConsumer.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomNotificationScheduler.java
Due: build:room-server

chore: 봇 요청 시 시작시간 리미트 감소
  Backend/bot-server/match/service.go
Due: build:bot-server

feat: 대기열 이벤트 추가
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/00-Waiting.tsx
Due: build:frontend

fix:changes in match-start logic
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/MatchStatusChanger.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueService.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server
