Repository Tickget/Tickget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:auth-server, build:room-server, build:ticketing-server, build:bot-server, build:captcha-server, build:seatmap-server

build:frontend:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:auth-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:room-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:ticketing-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:bot-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:captcha-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

build:seatmap-server:
  stage: build
  image: docker:24-dind
  services:
  - docker:24-dind
  before_script:
  - - apk add --no-cache git
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker buildx create --use --name multiarch-builder --driver docker-container || true
    - docker buildx inspect --bootstrap
  script:
  ...

방 나가ㅣ 버튼
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Viewport.tsx
Due: build:frontend

실패 유저 정보 띄우기
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/shared/utils/reserveMetrics.ts
Due: build:frontend

refactor: 경기 기록에서 색 변경
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/shared/styles/tailwind.css
Due: build:frontend

계산 로직 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

style: 마이 페이지 경기 기록 상세 정보(공연장 툴팁, 유저 정보) 스타일 수정
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

계산 로직 수정
  Frontend/src/features/booking-site/api.ts
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/_components/Viewport.tsx
  Frontend/src/shared/hooks/useBlockBackButtonDuringGame.ts
Due: build:frontend

style: 마이페이지 툴팁 표시 (올림픽홀, 샤롯데시어터)
  Frontend/src/pages/performance-halls/medium-venue/OlympicHall.tsx
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

fix: 등수 계산 로직 수정
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaCancelExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/concurrency/LuaReservationExecutor.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationService.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatReservationService.java
Due: build:ticketing-server

실패 계산 로직 수정
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/08-GameResult.tsx
Due: build:frontend

계산 기록 수정
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
  Frontend/src/pages/booking-site/exterpark-site/exterpark-booking/02-Seats.tsx
Due: build:frontend

통계 프로필, 봇 제한 추가
  Frontend/src/pages/room/_components/RoomSettingModal.tsx
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
  Frontend/src/pages/user-page/mockData.ts
Due: build:frontend

fix: 마이페이지 초 표시 오류 수정, 결과 표시 문구 수정
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

refactor: 봇 수 옵션 수정
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
Due: build:frontend

feat:stats-server in process && consume rate changed
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/response/MatchData/MatchSpecificsStatsDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/Season.java
  Backend/stats-server/src/main/java/com/stats/repository/SeasonRepository.java
  Backend/stats-server/src/main/java/com/stats/repository/UserStatsRepository.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
  Backend/stats-server/src/main/java/com/stats/service/SeasonService.java
  Backend/stats-server/src/main/java/com/stats/util/StatsCalculator.java
  Backend/ticketing-server/src/main/java/com/ticketing/queue/service/QueueConsumer.java
  Backend/ticketing-server/src/main/java/com/ticketing/seat/service/SeatConfirmationServiceBackup.java
  Backend/ticketing-server/src/main/resources/application.yaml
Due: build:ticketing-server

feat: 사용자 랭크 및 전체 랭크 표시, 실패한 유저 처리 로직 추가
  Frontend/src/features/user-page/types.ts
  Frontend/src/pages/user-page/MyPage.tsx
  Frontend/src/pages/user-page/_components/MatchDetailContent.tsx
Due: build:frontend

feat: 숨김 처리할 좌석 추가 및 관련 로직 수정
  Frontend/src/pages/performance-halls/small-venue/CharlotteTheater.tsx
Due: build:frontend

feat: 봇 수 옵션에 1250 추가
  Frontend/src/pages/room/create-room/CreateRoomModal.tsx
  Frontend/src/pages/room/edit-room-setting/RoomSettingModal.tsx
Due: build:frontend

feat:stats-server matchstats && ranking finished
  Backend/stats-server/src/main/java/com/stats/StatsServerApplication.java
  Backend/stats-server/src/main/java/com/stats/controller/StatsController.java
  Backend/stats-server/src/main/java/com/stats/dto/response/RankingData/RankingPreviewDTO.java
  Backend/stats-server/src/main/java/com/stats/dto/response/RankingData/RankingWeeklyDTO.java
  Backend/stats-server/src/main/java/com/stats/entity/Ranking.java
  Backend/stats-server/src/main/java/com/stats/repository/RankingRepository.java
  Backend/stats-server/src/main/java/com/stats/scheduler/RankingFlushScheduler.java
  Backend/stats-server/src/main/java/com/stats/service/MatchEndService.java
  Backend/stats-server/src/main/java/com/stats/service/RankingService.java
  Backend/stats-server/src/main/java/com/stats/service/SeasonService.java
  Backend/stats-server/src/main/java/com/stats/util/StatsCalculator.java
Due: none

fix: 방이 매치가 끝나면 바로 닫히도록 변경 및 방장정보 명시
  Backend/room-server/src/main/java/com/tickget/roomserver/dto/response/JoinRoomResponse.java
  Backend/room-server/src/main/java/com/tickget/roomserver/service/RoomService.java
Due: build:room-server

fix: 방장 표시
  Frontend/src/features/room/types.ts
  Frontend/src/pages/booking-site/exterpark-site/ExterparkRoom.tsx
Due: build:frontend

Path conditions:
  build:frontend: any of: Frontend/**/*
  build:auth-server: any of: Backend/auth-server/**/*
  build:room-server: any of: Backend/room-server/**/*
  build:ticketing-server: any of: Backend/ticketing-server/**/*
  build:bot-server: any of: Backend/bot-server/**/*
  build:captcha-server: any of: Backend/catpcha-server/**/*
  build:seatmap-server: any of: AI/seatmap_to_html/**/*
